# Import library

In [1]:
import polars as pl 
print(pl.__version__)

1.5.0

In [2]:
insurance_df = pl.read_csv("Insurance.csv")

In [3]:
insurance_df.columns

['id',
 'Gender',
 'Age',
 'Driving_License',
 'Region_Code',
 'Previously_Insured',
 'Vehicle_Age',
 'Vehicle_Damage',
 'Annual_Premium',
 'Policy_Sales_Channel',
 'Vintage',
 'Response']

# SQL Clauses

In [4]:
# Select Statement

insurance_df.sql("""
  SELECT Gender, Age FROM self
""")

shape: (11_504_798, 2)
┌────────┬─────┐
│ Gender ┆ Age │
│ ---    ┆ --- │
│ str    ┆ i64 │
╞════════╪═════╡
│ Male   ┆ 21  │
│ Male   ┆ 43  │
│ Female ┆ 25  │
│ Female ┆ 35  │
│ Female ┆ 36  │
│ …      ┆ …   │
│ Male   ┆ 48  │
│ Female ┆ 26  │
│ Female ┆ 29  │
│ Female ┆ 51  │
│ Male   ┆ 25  │
└────────┴─────┘

In [5]:
# Distinct

insurance_df.sql("""
  SELECT DISTINCT(Gender) FROM self
""")

shape: (2, 1)
┌────────┐
│ Gender │
│ ---    │
│ str    │
╞════════╡
│ Male   │
│ Female │
└────────┘

In [6]:
# COUNT 

insurance_df.sql("""
  SELECT COUNT(DISTINCT Gender) FROM self
""")

shape: (1, 1)
┌────────┐
│ Gender │
│ ---    │
│ u32    │
╞════════╡
│ 2      │
└────────┘

In [7]:
# Where 
insurance_df.sql("""
  SELECT Gender, Age , Annual_Premium FROM self where Annual_Premium > 500
""")

shape: (11_504_798, 3)
┌────────┬─────┬────────────────┐
│ Gender ┆ Age ┆ Annual_Premium │
│ ---    ┆ --- ┆ ---            │
│ str    ┆ i64 ┆ f64            │
╞════════╪═════╪════════════════╡
│ Male   ┆ 21  ┆ 65101.0        │
│ Male   ┆ 43  ┆ 58911.0        │
│ Female ┆ 25  ┆ 38043.0        │
│ Female ┆ 35  ┆ 2630.0         │
│ Female ┆ 36  ┆ 31951.0        │
│ …      ┆ …   ┆ …              │
│ Male   ┆ 48  ┆ 27412.0        │
│ Female ┆ 26  ┆ 29509.0        │
│ Female ┆ 29  ┆ 2630.0         │
│ Female ┆ 51  ┆ 48443.0        │
│ Male   ┆ 25  ┆ 32855.0        │
└────────┴─────┴────────────────┘

In [8]:
# Group By

insurance_df.sql("""
  SELECT  Gender,SUM(Annual_Premium) FROM self GROUP BY Gender
""")

shape: (2, 2)
┌────────┬────────────────┐
│ Gender ┆ Annual_Premium │
│ ---    ┆ ---            │
│ str    ┆ f64            │
╞════════╪════════════════╡
│ Male   ┆ 1.9072e11      │
│ Female ┆ 1.5973e11      │
└────────┴────────────────┘

In [9]:
# Having

insurance_df.sql("""
  SELECT  Vehicle_Age,SUM(Annual_Premium) FROM self GROUP BY Vehicle_Age
""")

shape: (3, 2)
┌─────────────┬────────────────┐
│ Vehicle_Age ┆ Annual_Premium │
│ ---         ┆ ---            │
│ str         ┆ f64            │
╞═════════════╪════════════════╡
│ 1-2 Year    ┆ 1.8108e11      │
│ > 2 Years   ┆ 1.6645e10      │
│ < 1 Year    ┆ 1.5273e11      │
└─────────────┴────────────────┘

In [10]:
# Having
insurance_df.sql("""
  SELECT  Vehicle_Age,SUM(Vintage) FROM self GROUP BY Vehicle_Age HAVING Vintage >=76
""")

shape: (3, 2)
┌─────────────┬───────────┐
│ Vehicle_Age ┆ Vintage   │
│ ---         ┆ ---       │
│ str         ┆ i64       │
╞═════════════╪═══════════╡
│ < 1 Year    ┆ 835456283 │
│ 1-2 Year    ┆ 972499683 │
│ > 2 Years   ┆ 77654470  │
└─────────────┴───────────┘

In [11]:
# ORDER BY 

insurance_df.sql("""
  SELECT Vehicle_Damage, Annual_Premium FROM self ORDER BY Annual_Premium DESC
""")

shape: (11_504_798, 2)
┌────────────────┬────────────────┐
│ Vehicle_Damage ┆ Annual_Premium │
│ ---            ┆ ---            │
│ str            ┆ f64            │
╞════════════════╪════════════════╡
│ Yes            ┆ 540165.0       │
│ Yes            ┆ 540165.0       │
│ Yes            ┆ 540165.0       │
│ Yes            ┆ 540165.0       │
│ Yes            ┆ 540165.0       │
│ …              ┆ …              │
│ Yes            ┆ 2630.0         │
│ Yes            ┆ 2630.0         │
│ No             ┆ 2630.0         │
│ No             ┆ 2630.0         │
│ No             ┆ 2630.0         │
└────────────────┴────────────────┘

In [12]:
# LIMIT 

insurance_df.sql("""
  SELECT * FROM self LIMIT 10
""")

shape: (10, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 0   ┆ Male   ┆ 21  ┆ 1               ┆ … ┆ 65101.0        ┆ 124.0           ┆ 187     ┆ 0        │
│ 1   ┆ Male   ┆ 43  ┆ 1               ┆ … ┆ 58911.0        ┆ 26.0            ┆ 288     ┆ 1        │
│ 2   ┆ Female ┆ 25  ┆ 1               ┆ … ┆ 38043.0        ┆ 152.0           ┆ 254     ┆ 0        │
│ 3   ┆ Female ┆ 35  ┆ 1               ┆ … ┆ 2630.0         ┆ 156.0           ┆ 76      ┆ 0        │
│ 4   ┆ Female ┆ 36  ┆ 1               ┆ … ┆ 31951.0        ┆ 152.0           ┆ 294     ┆ 0        │
│ 5   ┆ Female ┆ 31  ┆ 1               ┆ … ┆ 28150.0        ┆ 152.0           ┆ 197     ┆ 0        │
│ 6   ┆ Male   ┆ 23  ┆ 1               ┆ … ┆ 27128.0        ┆ 152.0           ┆ 190     ┆ 0        │
│ 7   ┆ Female ┆ 47  ┆ 1               ┆ … ┆ 40659.0        ┆ 26.0            ┆ 262     ┆ 1        │
│ 8   ┆ Female ┆ 26  ┆ 1               ┆ … ┆ 31639.0        ┆ 152.0           ┆ 36      ┆ 0        │
│ 9   ┆ Female ┆ 66  ┆ 1               ┆ … ┆ 2630.0         ┆ 26.0            ┆ 125     ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

In [13]:
# Offset
insurance_df.sql("""
  SELECT * FROM self LIMIT 10 OFFSET 3
""")

shape: (10, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 3   ┆ Female ┆ 35  ┆ 1               ┆ … ┆ 2630.0         ┆ 156.0           ┆ 76      ┆ 0        │
│ 4   ┆ Female ┆ 36  ┆ 1               ┆ … ┆ 31951.0        ┆ 152.0           ┆ 294     ┆ 0        │
│ 5   ┆ Female ┆ 31  ┆ 1               ┆ … ┆ 28150.0        ┆ 152.0           ┆ 197     ┆ 0        │
│ 6   ┆ Male   ┆ 23  ┆ 1               ┆ … ┆ 27128.0        ┆ 152.0           ┆ 190     ┆ 0        │
│ 7   ┆ Female ┆ 47  ┆ 1               ┆ … ┆ 40659.0        ┆ 26.0            ┆ 262     ┆ 1        │
│ 8   ┆ Female ┆ 26  ┆ 1               ┆ … ┆ 31639.0        ┆ 152.0           ┆ 36      ┆ 0        │
│ 9   ┆ Female ┆ 66  ┆ 1               ┆ … ┆ 2630.0         ┆ 26.0            ┆ 125     ┆ 0        │
│ 10  ┆ Male   ┆ 22  ┆ 1               ┆ … ┆ 27996.0        ┆ 152.0           ┆ 215     ┆ 0        │
│ 11  ┆ Female ┆ 25  ┆ 1               ┆ … ┆ 2630.0         ┆ 152.0           ┆ 30      ┆ 0        │
│ 12  ┆ Male   ┆ 36  ┆ 1               ┆ … ┆ 38104.0        ┆ 26.0            ┆ 203     ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

# SQL Functions

## Aggregate functions

In [14]:
# AVG 
insurance_df.sql("""
  SELECT AVG(Annual_Premium) AS premium_avg FROM self
""")

shape: (1, 1)
┌──────────────┐
│ premium_avg  │
│ ---          │
│ f64          │
╞══════════════╡
│ 30461.370411 │
└──────────────┘

In [15]:
# COUNT

insurance_df.sql("""
  SELECT
    COUNT(Vehicle_Age) AS n_age,
    COUNT(DISTINCT Vehicle_Age) AS n_age_unique
  FROM self
""")

shape: (1, 2)
┌──────────┬──────────────┐
│ n_age    ┆ n_age_unique │
│ ---      ┆ ---          │
│ u32      ┆ u32          │
╞══════════╪══════════════╡
│ 11504798 ┆ 3            │
└──────────┴──────────────┘

In [16]:
# First 

insurance_df.sql("""
  SELECT FIRST(Gender) AS first_value FROM self
""")

shape: (1, 1)
┌─────────────┐
│ first_value │
│ ---         │
│ str         │
╞═════════════╡
│ Male        │
└─────────────┘

In [17]:
# Last 
insurance_df.sql("""
  SELECT LAST(Policy_Sales_Channel) AS last_value FROM self
""")

shape: (1, 1)
┌────────────┐
│ last_value │
│ ---        │
│ f64        │
╞════════════╡
│ 152.0      │
└────────────┘

In [18]:
# MAX 
insurance_df.sql("""
  SELECT MAX(Policy_Sales_Channel) AS max_value FROM self
""")

shape: (1, 1)
┌───────────┐
│ max_value │
│ ---       │
│ f64       │
╞═══════════╡
│ 163.0     │
└───────────┘

In [19]:
# MIN
insurance_df.sql("""
  SELECT MIN(Policy_Sales_Channel) AS min_value FROM self
""")

shape: (1, 1)
┌───────────┐
│ min_value │
│ ---       │
│ f64       │
╞═══════════╡
│ 1.0       │
└───────────┘

In [20]:
# Median
insurance_df.sql("""
  SELECT MEDIAN(Policy_Sales_Channel) AS median_value FROM self
""")

shape: (1, 1)
┌──────────────┐
│ median_value │
│ ---          │
│ f64          │
╞══════════════╡
│ 151.0        │
└──────────────┘

In [21]:
# STDDEV

insurance_df.sql("""
  SELECT STDDEV(Policy_Sales_Channel) AS stddev_value FROM self
""")

shape: (1, 1)
┌──────────────┐
│ stddev_value │
│ ---          │
│ f64          │
╞══════════════╡
│ 54.035708    │
└──────────────┘

In [22]:
# Sum
insurance_df.sql("""
  SELECT SUM(Policy_Sales_Channel) AS sum_value FROM self
""")

shape: (1, 1)
┌───────────┐
│ sum_value │
│ ---       │
│ f64       │
╞═══════════╡
│ 1.2934e9  │
└───────────┘

In [23]:
# VARIANCE

insurance_df.sql("""
  SELECT VARIANCE(Policy_Sales_Channel) AS variance_value FROM self
""")

shape: (1, 1)
┌────────────────┐
│ variance_value │
│ ---            │
│ f64            │
╞════════════════╡
│ 2919.857715    │
└────────────────┘

## Conditional Functions

In [24]:
df = pl.DataFrame({
    "col1": [None, 2, None, 4],
    "col2": [1, None, 3, None],
    "col3": [None, None, None, 4]
})

df.sql("""
  SELECT col1, col2,col3, COALESCE(col1, col2,col3) AS baz FROM self
""")

shape: (4, 4)
┌──────┬──────┬──────┬─────┐
│ col1 ┆ col2 ┆ col3 ┆ baz │
│ ---  ┆ ---  ┆ ---  ┆ --- │
│ i64  ┆ i64  ┆ i64  ┆ i64 │
╞══════╪══════╪══════╪═════╡
│ null ┆ 1    ┆ null ┆ 1   │
│ 2    ┆ null ┆ null ┆ 2   │
│ null ┆ 3    ┆ null ┆ 3   │
│ 4    ┆ null ┆ 4    ┆ 4   │
└──────┴──────┴──────┴─────┘

In [25]:
# Greatest

insurance_df.sql("""
  SELECT GREATEST(Annual_Premium, Policy_Sales_Channel) AS greater FROM self
""")

shape: (11_504_798, 1)
┌─────────┐
│ greater │
│ ---     │
│ f64     │
╞═════════╡
│ 65101.0 │
│ 58911.0 │
│ 38043.0 │
│ 2630.0  │
│ 31951.0 │
│ …       │
│ 27412.0 │
│ 29509.0 │
│ 2630.0  │
│ 48443.0 │
│ 32855.0 │
└─────────┘

In [26]:
# IF clause
insurance_df.sql("""
  SELECT IF(Annual_Premium < 31951.0, 40659.0, 2630.0) AS condition FROM self
""")

shape: (11_504_798, 1)
┌───────────┐
│ condition │
│ ---       │
│ f64       │
╞═══════════╡
│ 2630.0    │
│ 2630.0    │
│ 2630.0    │
│ 40659.0   │
│ 2630.0    │
│ …         │
│ 40659.0   │
│ 40659.0   │
│ 40659.0   │
│ 2630.0    │
│ 2630.0    │
└───────────┘

In [27]:
# IFNULL

insurance_df.sql("""
  SELECT IFNULL(Annual_Premium, 'n/a') AS null_condition FROM self
""")

shape: (11_504_798, 1)
┌────────────────┐
│ null_condition │
│ ---            │
│ str            │
╞════════════════╡
│ 65101.0        │
│ 58911.0        │
│ 38043.0        │
│ 2630.0         │
│ 31951.0        │
│ …              │
│ 27412.0        │
│ 29509.0        │
│ 2630.0         │
│ 48443.0        │
│ 32855.0        │
└────────────────┘

In [28]:
# LEAST

insurance_df.sql("""
  SELECT LEAST(Annual_Premium, Policy_Sales_Channel) AS least FROM self
""")

shape: (11_504_798, 1)
┌───────┐
│ least │
│ ---   │
│ f64   │
╞═══════╡
│ 124.0 │
│ 26.0  │
│ 152.0 │
│ 156.0 │
│ 152.0 │
│ …     │
│ 26.0  │
│ 152.0 │
│ 152.0 │
│ 26.0  │
│ 152.0 │
└───────┘

In [29]:
# NULLIF 

insurance_df.sql("""
  SELECT NULLIF(Annual_Premium,Policy_Sales_Channel) AS baz FROM self
""")

shape: (11_504_798, 1)
┌─────────┐
│ baz     │
│ ---     │
│ f64     │
╞═════════╡
│ 65101.0 │
│ 58911.0 │
│ 38043.0 │
│ 2630.0  │
│ 31951.0 │
│ …       │
│ 27412.0 │
│ 29509.0 │
│ 2630.0  │
│ 48443.0 │
│ 32855.0 │
└─────────┘

## Maths functions

In [30]:
# abs function
insurance_df.sql("""
  SELECT Policy_Sales_Channel, ABS(Policy_Sales_Channel) AS abs_policy FROM self
""")

shape: (11_504_798, 2)
┌──────────────────────┬────────────┐
│ Policy_Sales_Channel ┆ abs_policy │
│ ---                  ┆ ---        │
│ f64                  ┆ f64        │
╞══════════════════════╪════════════╡
│ 124.0                ┆ 124.0      │
│ 26.0                 ┆ 26.0       │
│ 152.0                ┆ 152.0      │
│ 156.0                ┆ 156.0      │
│ 152.0                ┆ 152.0      │
│ …                    ┆ …          │
│ 26.0                 ┆ 26.0       │
│ 152.0                ┆ 152.0      │
│ 152.0                ┆ 152.0      │
│ 26.0                 ┆ 26.0       │
│ 152.0                ┆ 152.0      │
└──────────────────────┴────────────┘

In [31]:
# cbrt
insurance_df.sql("""
  SELECT Policy_Sales_Channel, CBRT(Policy_Sales_Channel) AS cbrt_policy FROM self
""")

shape: (11_504_798, 2)
┌──────────────────────┬─────────────┐
│ Policy_Sales_Channel ┆ cbrt_policy │
│ ---                  ┆ ---         │
│ f64                  ┆ f64         │
╞══════════════════════╪═════════════╡
│ 124.0                ┆ 4.986631    │
│ 26.0                 ┆ 2.962496    │
│ 152.0                ┆ 5.336803    │
│ 156.0                ┆ 5.383213    │
│ 152.0                ┆ 5.336803    │
│ …                    ┆ …           │
│ 26.0                 ┆ 2.962496    │
│ 152.0                ┆ 5.336803    │
│ 152.0                ┆ 5.336803    │
│ 26.0                 ┆ 2.962496    │
│ 152.0                ┆ 5.336803    │
└──────────────────────┴─────────────┘

In [32]:
# div
insurance_df.sql("""
  SELECT Policy_Sales_Channel, DIV(Policy_Sales_Channel, 2) AS policy_div_2, DIV(Policy_Sales_Channel, 5) AS policy_div_5 FROM self
""")

shape: (11_504_798, 3)
┌──────────────────────┬──────────────┬──────────────┐
│ Policy_Sales_Channel ┆ policy_div_2 ┆ policy_div_5 │
│ ---                  ┆ ---          ┆ ---          │
│ f64                  ┆ i64          ┆ i64          │
╞══════════════════════╪══════════════╪══════════════╡
│ 124.0                ┆ 62           ┆ 24           │
│ 26.0                 ┆ 13           ┆ 5            │
│ 152.0                ┆ 76           ┆ 30           │
│ 156.0                ┆ 78           ┆ 31           │
│ 152.0                ┆ 76           ┆ 30           │
│ …                    ┆ …            ┆ …            │
│ 26.0                 ┆ 13           ┆ 5            │
│ 152.0                ┆ 76           ┆ 30           │
│ 152.0                ┆ 76           ┆ 30           │
│ 26.0                 ┆ 13           ┆ 5            │
│ 152.0                ┆ 76           ┆ 30           │
└──────────────────────┴──────────────┴──────────────┘

In [33]:
# log 
insurance_df.sql("""
  SELECT Policy_Sales_Channel, LOG1P(Policy_Sales_Channel) AS log1p_policy FROM self
""")

shape: (11_504_798, 2)
┌──────────────────────┬──────────────┐
│ Policy_Sales_Channel ┆ log1p_policy │
│ ---                  ┆ ---          │
│ f64                  ┆ f64          │
╞══════════════════════╪══════════════╡
│ 124.0                ┆ 4.828314     │
│ 26.0                 ┆ 3.295837     │
│ 152.0                ┆ 5.030438     │
│ 156.0                ┆ 5.056246     │
│ 152.0                ┆ 5.030438     │
│ …                    ┆ …            │
│ 26.0                 ┆ 3.295837     │
│ 152.0                ┆ 5.030438     │
│ 152.0                ┆ 5.030438     │
│ 26.0                 ┆ 3.295837     │
│ 152.0                ┆ 5.030438     │
└──────────────────────┴──────────────┘

## Types functions

In [34]:
insurance_df.columns

['id',
 'Gender',
 'Age',
 'Driving_License',
 'Region_Code',
 'Previously_Insured',
 'Vehicle_Age',
 'Vehicle_Damage',
 'Annual_Premium',
 'Policy_Sales_Channel',
 'Vintage',
 'Response']

In [35]:
insurance_df.sql("""
  SELECT
    Vintage ::float4,
    Response:: string
  FROM self
""")

shape: (11_504_798, 2)
┌─────────┬──────────┐
│ Vintage ┆ Response │
│ ---     ┆ ---      │
│ f32     ┆ str      │
╞═════════╪══════════╡
│ 187.0   ┆ 0        │
│ 288.0   ┆ 1        │
│ 254.0   ┆ 0        │
│ 76.0    ┆ 0        │
│ 294.0   ┆ 0        │
│ …       ┆ …        │
│ 218.0   ┆ 0        │
│ 115.0   ┆ 1        │
│ 189.0   ┆ 0        │
│ 274.0   ┆ 1        │
│ 189.0   ┆ 0        │
└─────────┴──────────┘

In [36]:
insurance_df.sql("""
  SELECT
  TRY_CAST(Annual_Premium AS uint2),
  TRY_CAST(Previously_Insured AS string)
  FROM self
""")

shape: (11_504_798, 2)
┌────────────────┬────────────────────┐
│ Annual_Premium ┆ Previously_Insured │
│ ---            ┆ ---                │
│ u16            ┆ str                │
╞════════════════╪════════════════════╡
│ 65101          ┆ 0                  │
│ 58911          ┆ 0                  │
│ 38043          ┆ 1                  │
│ 2630           ┆ 0                  │
│ 31951          ┆ 1                  │
│ …              ┆ …                  │
│ 27412          ┆ 0                  │
│ 29509          ┆ 0                  │
│ 2630           ┆ 1                  │
│ 48443          ┆ 0                  │
│ 32855          ┆ 1                  │
└────────────────┴────────────────────┘

## Temporal Functions

### DATE_PART

In [37]:
from datetime import date
df = pl.DataFrame(
  {
      "sales_datetime": [
          date(2024, 3, 16),
          date(2024, 1, 11),
          date(2077, 2, 2),
      ]
  }
)
df.sql("""
  SELECT
    sales_datetime,
    DATE_PART('year',sales_datetime ) AS year,
    DATE_PART('month', sales_datetime) AS month,
    DATE_PART('day', sales_datetime) AS day
  FROM self
""")

shape: (3, 4)
┌────────────────┬──────┬───────┬─────┐
│ sales_datetime ┆ year ┆ month ┆ day │
│ ---            ┆ ---  ┆ ---   ┆ --- │
│ date           ┆ i32  ┆ i8    ┆ i8  │
╞════════════════╪══════╪═══════╪═════╡
│ 2024-03-16     ┆ 2024 ┆ 3     ┆ 16  │
│ 2024-01-11     ┆ 2024 ┆ 1     ┆ 11  │
│ 2077-02-02     ┆ 2077 ┆ 2     ┆ 2   │
└────────────────┴──────┴───────┴─────┘

### EXTRACT

In [38]:
df.sql("""
  SELECT
    sales_datetime,
    EXTRACT(decade FROM sales_datetime) AS decade,
    EXTRACT(year FROM sales_datetime) AS year,
    EXTRACT(quarter FROM sales_datetime) AS quarter,
  FROM self
""")

shape: (3, 4)
┌────────────────┬────────┬──────┬─────────┐
│ sales_datetime ┆ decade ┆ year ┆ quarter │
│ ---            ┆ ---    ┆ ---  ┆ ---     │
│ date           ┆ i32    ┆ i32  ┆ i8      │
╞════════════════╪════════╪══════╪═════════╡
│ 2024-03-16     ┆ 202    ┆ 2024 ┆ 1       │
│ 2024-01-11     ┆ 202    ┆ 2024 ┆ 1       │
│ 2077-02-02     ┆ 207    ┆ 2077 ┆ 1       │
└────────────────┴────────┴──────┴─────────┘

### STRFTIME

In [39]:
from datetime import time
df = pl.DataFrame(
  {
    "dt": [date(1978, 7, 5), None, date(2020, 4, 10)],
    "tm": [time(10, 10, 10), time(22, 33, 55), None],
  }
)

df.sql("""
  SELECT
    STRFTIME(dt, '%B %d, %Y') AS s_dt,
    STRFTIME(tm, '%H.%M.%S') AS s_tm,
  FROM self
""")

shape: (3, 2)
┌────────────────┬──────────┐
│ s_dt           ┆ s_tm     │
│ ---            ┆ ---      │
│ str            ┆ str      │
╞════════════════╪══════════╡
│ July 05, 1978  ┆ 10.10.10 │
│ null           ┆ 22.33.55 │
│ April 10, 2020 ┆ null     │
└────────────────┴──────────┘

There are other functions for Array, String  data structures along with the Trigonometry functions which can be called from SQL interface.

# Set Operations

In [59]:
## Except 
df1 = pl.DataFrame({
    "Countries": ["INDIA", "PAKISTAN", "AUSTRALIA", "ENGLAND"],
    "Matches": [80, 42, 55, 32],
    "Ranking": [1, 2, 7, 6]
})

df2 = pl.DataFrame({
    "Countries": ["INDIA", "AUSTRALIA", "NL", "SA"],
    "Matches": [80, 55, 10, 15],
    "Ranking": [1, 7, 9, 8]
})

# Use SQL to perform an EXCEPT operation
pl.sql("""
    SELECT * FROM df1 EXCEPT SELECT * FROM df2
""").sort(by="Countries").collect()

shape: (2, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ ENGLAND   ┆ 32      ┆ 6       │
│ PAKISTAN  ┆ 42      ┆ 2       │
└───────────┴─────────┴─────────┘

In [49]:
# INTERSECT
pl.sql("""
    SELECT * FROM df1 INTERSECT SELECT * FROM df2
""").sort(by="Countries").collect()

shape: (2, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ AUSTRALIA ┆ 55      ┆ 7       │
│ INDIA     ┆ 80      ┆ 1       │
└───────────┴─────────┴─────────┘

In [50]:
# UNION
pl.sql("""
    SELECT * FROM df1 UNION SELECT * FROM df2
""").sort(by="Countries").collect()

shape: (6, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ AUSTRALIA ┆ 55      ┆ 7       │
│ ENGLAND   ┆ 32      ┆ 6       │
│ INDIA     ┆ 80      ┆ 1       │
│ NL        ┆ 10      ┆ 9       │
│ PAKISTAN  ┆ 42      ┆ 2       │
│ SA        ┆ 15      ┆ 8       │
└───────────┴─────────┴─────────┘

In [51]:
# UNION ALL
pl.sql("""
    SELECT * FROM df1 UNION ALL SELECT * FROM df2
""").sort(by="Countries").collect()

shape: (8, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ AUSTRALIA ┆ 55      ┆ 7       │
│ AUSTRALIA ┆ 55      ┆ 7       │
│ ENGLAND   ┆ 32      ┆ 6       │
│ INDIA     ┆ 80      ┆ 1       │
│ INDIA     ┆ 80      ┆ 1       │
│ NL        ┆ 10      ┆ 9       │
│ PAKISTAN  ┆ 42      ┆ 2       │
│ SA        ┆ 15      ┆ 8       │
└───────────┴─────────┴─────────┘

In [52]:
# UNION BY NAME

pl.sql("""
    SELECT * FROM df1 UNION BY NAME SELECT * FROM df2
""").sort(by="Countries").collect()

shape: (6, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ AUSTRALIA ┆ 55      ┆ 7       │
│ ENGLAND   ┆ 32      ┆ 6       │
│ INDIA     ┆ 80      ┆ 1       │
│ NL        ┆ 10      ┆ 9       │
│ PAKISTAN  ┆ 42      ┆ 2       │
│ SA        ┆ 15      ┆ 8       │
└───────────┴─────────┴─────────┘