# Import Polars

In [1]:
import polars as pl 
print(pl.__version__)

1.5.0

# Creating a LazyFrame

In [7]:
# Creating a Lazyframe Directly 

lazy_df = pl.scan_csv("Insurance.csv")
type(lazy_df)

polars.lazyframe.frame.LazyFrame

In [8]:
# Creating a Lazyframe from an existing Polars DataFrame 

insurance_df = pl.read_csv("Insurance.csv")
lazy_df = insurance_df.lazy()
type(lazy_df)

polars.lazyframe.frame.LazyFrame

In [45]:
# Create a DataFrame
df = pl.LazyFrame({
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "salary": [50000, 60000, 70000]
})
type(df)

polars.lazyframe.frame.LazyFrame

# Common LazyFrame Methods

In [9]:
lazy_df.head()

In [10]:
# Collect Method 
lazy_df.head().collect()

shape: (5, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 0   ┆ Male   ┆ 21  ┆ 1               ┆ … ┆ 65101.0        ┆ 124.0           ┆ 187     ┆ 0        │
│ 1   ┆ Male   ┆ 43  ┆ 1               ┆ … ┆ 58911.0        ┆ 26.0            ┆ 288     ┆ 1        │
│ 2   ┆ Female ┆ 25  ┆ 1               ┆ … ┆ 38043.0        ┆ 152.0           ┆ 254     ┆ 0        │
│ 3   ┆ Female ┆ 35  ┆ 1               ┆ … ┆ 2630.0         ┆ 156.0           ┆ 76      ┆ 0        │
│ 4   ┆ Female ┆ 36  ┆ 1               ┆ … ┆ 31951.0        ┆ 152.0           ┆ 294     ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

In [44]:
#  collect method with streaming as True 
lazy_df.collect(streaming=True)

shape: (11_504_798, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1             ┆ … ┆ 65101.0       ┆ 124.0         ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1             ┆ … ┆ 58911.0       ┆ 26.0          ┆ 288     ┆ 1        │
│ 2        ┆ Female ┆ 25  ┆ 1             ┆ … ┆ 38043.0       ┆ 152.0         ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1             ┆ … ┆ 2630.0        ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 31951.0       ┆ 152.0         ┆ 294     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1             ┆ … ┆ 27412.0       ┆ 26.0          ┆ 218     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1             ┆ … ┆ 48443.0       ┆ 26.0          ┆ 274     ┆ 1        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1             ┆ … ┆ 32855.0       ┆ 152.0         ┆ 189     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [12]:
# Fetch Method

lazy_df.fetch(5)

C:\Users\Saurav\AppData\Local\Temp\ipykernel_4976\1235569737.py:3: DeprecationWarning: `LazyFrame.fetch` is deprecated. `LazyFrame.fetch` is deprecated; use `LazyFrame.collect` instead, in conjunction with a call to `head`.
  lazy_df.fetch(5)

shape: (5, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 0   ┆ Male   ┆ 21  ┆ 1               ┆ … ┆ 65101.0        ┆ 124.0           ┆ 187     ┆ 0        │
│ 1   ┆ Male   ┆ 43  ┆ 1               ┆ … ┆ 58911.0        ┆ 26.0            ┆ 288     ┆ 1        │
│ 2   ┆ Female ┆ 25  ┆ 1               ┆ … ┆ 38043.0        ┆ 152.0           ┆ 254     ┆ 0        │
│ 3   ┆ Female ┆ 35  ┆ 1               ┆ … ┆ 2630.0         ┆ 156.0           ┆ 76      ┆ 0        │
│ 4   ┆ Female ┆ 36  ┆ 1               ┆ … ┆ 31951.0        ┆ 152.0           ┆ 294     ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

In [25]:
# collect schema

lazy_df.collect_schema()

Schema([('id', Int64),
        ('Gender', String),
        ('Age', Int64),
        ('Driving_License', Int64),
        ('Region_Code', Float64),
        ('Previously_Insured', Int64),
        ('Vehicle_Age', String),
        ('Vehicle_Damage', String),
        ('Annual_Premium', Float64),
        ('Policy_Sales_Channel', Float64),
        ('Vintage', Int64),
        ('Response', Int64)])

In [28]:
# with_columns
lazy_df.with_columns(pl.col("Annual_Premium")==2630.0).collect()

shape: (11_504_798, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ bool          ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1             ┆ … ┆ false         ┆ 124.0         ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1             ┆ … ┆ false         ┆ 26.0          ┆ 288     ┆ 1        │
│ 2        ┆ Female ┆ 25  ┆ 1             ┆ … ┆ false         ┆ 152.0         ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1             ┆ … ┆ true          ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1             ┆ … ┆ false         ┆ 152.0         ┆ 294     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1             ┆ … ┆ false         ┆ 26.0          ┆ 218     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ false         ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1             ┆ … ┆ true          ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1             ┆ … ┆ false         ┆ 26.0          ┆ 274     ┆ 1        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1             ┆ … ┆ false         ┆ 152.0         ┆ 189     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [33]:
# Dealing with operations not in Lazy Dataframe
lazy_df.with_columns(
    (2 * pl.col("Annual_Premium")).alias("double_premium")
).collect().pivot(
    index="id", 
    on="Gender", 
    values="double_premium", 
    aggregate_function="first"
).lazy().filter(
    pl.col("Male").is_null()
).collect()

shape: (5_276_664, 3)
┌──────────┬──────┬─────────┐
│ id       ┆ Male ┆ Female  │
│ ---      ┆ ---  ┆ ---     │
│ i64      ┆ f64  ┆ f64     │
╞══════════╪══════╪═════════╡
│ 2        ┆ null ┆ 76086.0 │
│ 3        ┆ null ┆ 5260.0  │
│ 4        ┆ null ┆ 63902.0 │
│ 5        ┆ null ┆ 56300.0 │
│ 7        ┆ null ┆ 81318.0 │
│ …        ┆ …    ┆ …       │
│ 11504790 ┆ null ┆ 76194.0 │
│ 11504791 ┆ null ┆ 5260.0  │
│ 11504794 ┆ null ┆ 59018.0 │
│ 11504795 ┆ null ┆ 5260.0  │
│ 11504796 ┆ null ┆ 96886.0 │
└──────────┴──────┴─────────┘

In [39]:
q1 = (lazy_df.with_columns(pl.col("Annual_Premium").str.to_uppercase()).filter(pl.col("Gender")=="Male"))
q1.explain(optimized=False)

'FILTER [(col("Gender")) == (String(Male))] FROM\n   WITH_COLUMNS:\n   [col("Annual_Premium").str.uppercase()] \n    DF ["id", "Gender", "Age", "Driving_License"]; PROJECT */12 COLUMNS; SELECTION: None'

In [40]:
q1.explain()

' WITH_COLUMNS:\n [col("Annual_Premium").str.uppercase()] \n  DF ["id", "Gender", "Age", "Driving_License"]; PROJECT */12 COLUMNS; SELECTION: [(col("Gender")) == (String(Male))]'

# Attribute Methods

In [46]:
# columns method 
lazy_df.columns

C:\Users\Saurav\AppData\Local\Temp\ipykernel_4976\4236129083.py:1: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  lazy_df.columns

['id',
 'Gender',
 'Age',
 'Driving_License',
 'Region_Code',
 'Previously_Insured',
 'Vehicle_Age',
 'Vehicle_Damage',
 'Annual_Premium',
 'Policy_Sales_Channel',
 'Vintage',
 'Response']

In [48]:
# polars.LazyFrame.dtypes
lazy_df.dtypes

C:\Users\Saurav\AppData\Local\Temp\ipykernel_4976\2561509185.py:1: PerformanceWarning: Determining the data types of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().dtypes()` to get the data types without this warning.
  lazy_df.dtypes

[Int64,
 String,
 Int64,
 Int64,
 Float64,
 Int64,
 String,
 String,
 Float64,
 Float64,
 Int64,
 Int64]

In [49]:
# polars.LazyFrame.schema
lazy_df.schema

C:\Users\Saurav\AppData\Local\Temp\ipykernel_4976\3478855764.py:2: PerformanceWarning: Resolving the schema of a LazyFrame is a potentially expensive operation. Use `LazyFrame.collect_schema()` to get the schema without this warning.
  lazy_df.schema

Schema([('id', Int64),
        ('Gender', String),
        ('Age', Int64),
        ('Driving_License', Int64),
        ('Region_Code', Float64),
        ('Previously_Insured', Int64),
        ('Vehicle_Age', String),
        ('Vehicle_Damage', String),
        ('Annual_Premium', Float64),
        ('Policy_Sales_Channel', Float64),
        ('Vintage', Int64),
        ('Response', Int64)])

In [50]:
# polars.LazyFrame.width
lazy_df.width

C:\Users\Saurav\AppData\Local\Temp\ipykernel_4976\382485747.py:2: PerformanceWarning: Determining the width of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().len()` to get the width without this warning.
  lazy_df.width

12

# Descriptive Methods

In [51]:
# polars.LazyFrame.describe
lazy_df.describe()

shape: (9, 13)
┌───────────┬───────────┬──────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic ┆ id        ┆ Gender   ┆ Age       ┆ … ┆ Annual_Pr ┆ Policy_Sa ┆ Vintage   ┆ Response  │
│ ---       ┆ ---       ┆ ---      ┆ ---       ┆   ┆ emium     ┆ les_Chann ┆ ---       ┆ ---       │
│ str       ┆ f64       ┆ str      ┆ f64       ┆   ┆ ---       ┆ el        ┆ f64       ┆ f64       │
│           ┆           ┆          ┆           ┆   ┆ f64       ┆ ---       ┆           ┆           │
│           ┆           ┆          ┆           ┆   ┆           ┆ f64       ┆           ┆           │
╞═══════════╪═══════════╪══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count     ┆ 1.1504798 ┆ 11504798 ┆ 1.1504798 ┆ … ┆ 1.1504798 ┆ 1.1504798 ┆ 1.1504798 ┆ 1.1504798 │
│           ┆ e7        ┆          ┆ e7        ┆   ┆ e7        ┆ e7        ┆ e7        ┆ e7        │
│ null_coun ┆ 0.0       ┆ 0        ┆ 0.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0       │
│ t         ┆           ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│ mean      ┆ 5752398.5 ┆ null     ┆ 38.383563 ┆ … ┆ 30461.370 ┆ 112.42544 ┆ 163.89774 ┆ 0.122997  │
│           ┆           ┆          ┆           ┆   ┆ 411       ┆ 2         ┆ 4         ┆           │
│ std       ┆ 3.3211e6  ┆ null     ┆ 14.993459 ┆ … ┆ 16454.745 ┆ 54.035708 ┆ 79.979531 ┆ 0.328434  │
│           ┆           ┆          ┆           ┆   ┆ 205       ┆           ┆           ┆           │
│ min       ┆ 0.0       ┆ Female   ┆ 20.0      ┆ … ┆ 2630.0    ┆ 1.0       ┆ 10.0      ┆ 0.0       │
│ 25%       ┆ 2.876199e ┆ null     ┆ 24.0      ┆ … ┆ 25277.0   ┆ 29.0      ┆ 99.0      ┆ 0.0       │
│           ┆ 6         ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│ 50%       ┆ 5.752399e ┆ null     ┆ 36.0      ┆ … ┆ 31824.0   ┆ 151.0     ┆ 166.0     ┆ 0.0       │
│           ┆ 6         ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│ 75%       ┆ 8.628598e ┆ null     ┆ 49.0      ┆ … ┆ 39451.0   ┆ 152.0     ┆ 232.0     ┆ 0.0       │
│           ┆ 6         ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│ max       ┆ 1.1504797 ┆ Male     ┆ 85.0      ┆ … ┆ 540165.0  ┆ 163.0     ┆ 299.0     ┆ 1.0       │
│           ┆ e7        ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴───────────┴──────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

# Aggregate Methods

In [54]:
# polars.LazyFrame.count

lazy_df.count().collect()

shape: (1, 12)
┌──────────┬──────────┬──────────┬─────────────┬───┬────────────┬────────────┬──────────┬──────────┐
│ id       ┆ Gender   ┆ Age      ┆ Driving_Lic ┆ … ┆ Annual_Pre ┆ Policy_Sal ┆ Vintage  ┆ Response │
│ ---      ┆ ---      ┆ ---      ┆ ense        ┆   ┆ mium       ┆ es_Channel ┆ ---      ┆ ---      │
│ u32      ┆ u32      ┆ u32      ┆ ---         ┆   ┆ ---        ┆ ---        ┆ u32      ┆ u32      │
│          ┆          ┆          ┆ u32         ┆   ┆ u32        ┆ u32        ┆          ┆          │
╞══════════╪══════════╪══════════╪═════════════╪═══╪════════════╪════════════╪══════════╪══════════╡
│ 11504798 ┆ 11504798 ┆ 11504798 ┆ 11504798    ┆ … ┆ 11504798   ┆ 11504798   ┆ 11504798 ┆ 11504798 │
└──────────┴──────────┴──────────┴─────────────┴───┴────────────┴────────────┴──────────┴──────────┘

In [55]:
# polars.LazyFrame.max

lazy_df.max().collect()

shape: (1, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 11504797 ┆ Male   ┆ 85  ┆ 1             ┆ … ┆ 540165.0      ┆ 163.0         ┆ 299     ┆ 1        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [56]:
# polars.LazyFrame.median
lazy_df.median().collect()

shape: (1, 12)
┌───────────┬────────┬──────┬───────────────┬───┬──────────────┬──────────────┬─────────┬──────────┐
│ id        ┆ Gender ┆ Age  ┆ Driving_Licen ┆ … ┆ Annual_Premi ┆ Policy_Sales ┆ Vintage ┆ Response │
│ ---       ┆ ---    ┆ ---  ┆ se            ┆   ┆ um           ┆ _Channel     ┆ ---     ┆ ---      │
│ f64       ┆ str    ┆ f64  ┆ ---           ┆   ┆ ---          ┆ ---          ┆ f64     ┆ f64      │
│           ┆        ┆      ┆ f64           ┆   ┆ f64          ┆ f64          ┆         ┆          │
╞═══════════╪════════╪══════╪═══════════════╪═══╪══════════════╪══════════════╪═════════╪══════════╡
│ 5752398.5 ┆ null   ┆ 36.0 ┆ 1.0           ┆ … ┆ 31824.0      ┆ 151.0        ┆ 166.0   ┆ 0.0      │
└───────────┴────────┴──────┴───────────────┴───┴──────────────┴──────────────┴─────────┴──────────┘

In [57]:
# polars.LazyFrame.null_count

lazy_df.null_count().collect()

shape: (1, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ u32 ┆ u32    ┆ u32 ┆ u32             ┆   ┆ u32            ┆ ---             ┆ u32     ┆ u32      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ u32             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 0   ┆ 0      ┆ 0   ┆ 0               ┆ … ┆ 0              ┆ 0               ┆ 0       ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

In [58]:
# polars.LazyFrame.sum
lazy_df.sum().collect()

shape: (1, 12)
┌────────────┬────────┬───────────┬────────────┬───┬────────────┬───────────┬───────────┬──────────┐
│ id         ┆ Gender ┆ Age       ┆ Driving_Li ┆ … ┆ Annual_Pre ┆ Policy_Sa ┆ Vintage   ┆ Response │
│ ---        ┆ ---    ┆ ---       ┆ cense      ┆   ┆ mium       ┆ les_Chann ┆ ---       ┆ ---      │
│ i64        ┆ str    ┆ i64       ┆ ---        ┆   ┆ ---        ┆ el        ┆ i64       ┆ i64      │
│            ┆        ┆           ┆ i64        ┆   ┆ f64        ┆ ---       ┆           ┆          │
│            ┆        ┆           ┆            ┆   ┆            ┆ f64       ┆           ┆          │
╞════════════╪════════╪═══════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪══════════╡
│ 6618018275 ┆ null   ┆ 441595143 ┆ 11482041   ┆ … ┆ 3.5045e11  ┆ 1.2934e9  ┆ 188561043 ┆ 1415059  │
│ 8003       ┆        ┆           ┆            ┆   ┆            ┆           ┆ 6         ┆          │
└────────────┴────────┴───────────┴────────────┴───┴────────────┴───────────┴───────────┴──────────┘

In [59]:
# polars.LazyFrame.var

lazy_df.var().collect()

shape: (1, 12)
┌───────────┬────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬──────────┐
│ id        ┆ Gender ┆ Age        ┆ Driving_Li ┆ … ┆ Annual_Pre ┆ Policy_Sa ┆ Vintage   ┆ Response │
│ ---       ┆ ---    ┆ ---        ┆ cense      ┆   ┆ mium       ┆ les_Chann ┆ ---       ┆ ---      │
│ f64       ┆ str    ┆ f64        ┆ ---        ┆   ┆ ---        ┆ el        ┆ f64       ┆ f64      │
│           ┆        ┆            ┆ f64        ┆   ┆ f64        ┆ ---       ┆           ┆          │
│           ┆        ┆            ┆            ┆   ┆            ┆ f64       ┆           ┆          │
╞═══════════╪════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪══════════╡
│ 1.1030e13 ┆ null   ┆ 224.803798 ┆ 0.001974   ┆ … ┆ 2.7076e8   ┆ 2919.8577 ┆ 6396.7253 ┆ 0.107869 │
│           ┆        ┆            ┆            ┆   ┆            ┆ 15        ┆ 96        ┆          │
└───────────┴────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴──────────┘

# GroupBy Methods

In [61]:
# agg
lazy_df.group_by("Gender").agg(
    pl.col("Policy_Sales_Channel").sum()
).collect()

shape: (2, 2)
┌────────┬──────────────────────┐
│ Gender ┆ Policy_Sales_Channel │
│ ---    ┆ ---                  │
│ str    ┆ f64                  │
╞════════╪══════════════════════╡
│ Male   ┆ 6.64249355e8         │
│ Female ┆ 6.29182644e8         │
└────────┴──────────────────────┘

In [62]:
# all

lazy_df.group_by("Gender", maintain_order=True).all().collect()

shape: (2, 12)
┌────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Gender ┆ id         ┆ Age        ┆ Driving_L ┆ … ┆ Annual_Pr ┆ Policy_Sa ┆ Vintage   ┆ Response  │
│ ---    ┆ ---        ┆ ---        ┆ icense    ┆   ┆ emium     ┆ les_Chann ┆ ---       ┆ ---       │
│ str    ┆ list[i64]  ┆ list[i64]  ┆ ---       ┆   ┆ ---       ┆ el        ┆ list[i64] ┆ list[i64] │
│        ┆            ┆            ┆ list[i64] ┆   ┆ list[f64] ┆ ---       ┆           ┆           │
│        ┆            ┆            ┆           ┆   ┆           ┆ list[f64] ┆           ┆           │
╞════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Male   ┆ [0, 1, …   ┆ [21, 43, … ┆ [1, 1, …  ┆ … ┆ [65101.0, ┆ [124.0,   ┆ [187,     ┆ [0, 1, …  │
│        ┆ 11504797]  ┆ 25]        ┆ 1]        ┆   ┆ 58911.0,  ┆ 26.0, …   ┆ 288, …    ┆ 0]        │
│        ┆            ┆            ┆           ┆   ┆ …         ┆ 152.0]    ┆ 189]      ┆           │
│        ┆            ┆            ┆           ┆   ┆ 32855.0]  ┆           ┆           ┆           │
│ Female ┆ [2, 3, …   ┆ [25, 35, … ┆ [1, 1, …  ┆ … ┆ [38043.0, ┆ [152.0,   ┆ [254, 76, ┆ [0, 0, …  │
│        ┆ 11504796]  ┆ 51]        ┆ 1]        ┆   ┆ 2630.0, … ┆ 156.0, …  ┆ … 274]    ┆ 1]        │
│        ┆            ┆            ┆           ┆   ┆ 48443.0]  ┆ 26.0]     ┆           ┆           │
└────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [63]:
# len method

lazy_df.group_by("Gender").count().collect()

C:\Users\Saurav\AppData\Local\Temp\ipykernel_4976\3329059855.py:3: DeprecationWarning: `LazyGroupBy.count` is deprecated. It has been renamed to `len`.
  lazy_df.group_by("Gender").count().collect()

shape: (2, 2)
┌────────┬─────────┐
│ Gender ┆ count   │
│ ---    ┆ ---     │
│ str    ┆ u32     │
╞════════╪═════════╡
│ Male   ┆ 6228134 │
│ Female ┆ 5276664 │
└────────┴─────────┘

In [64]:
# first 

lazy_df.group_by("Gender", maintain_order=True).first().collect()

shape: (2, 12)
┌────────┬─────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ Gender ┆ id  ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ ---    ┆ --- ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ str    ┆ i64 ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│        ┆     ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞════════╪═════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ Male   ┆ 0   ┆ 21  ┆ 1               ┆ … ┆ 65101.0        ┆ 124.0           ┆ 187     ┆ 0        │
│ Female ┆ 2   ┆ 25  ┆ 1               ┆ … ┆ 38043.0        ┆ 152.0           ┆ 254     ┆ 0        │
└────────┴─────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

In [65]:
# n_unique

lazy_df.group_by("Gender", maintain_order=True).n_unique().collect()

shape: (2, 12)
┌────────┬─────────┬─────┬────────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ Gender ┆ id      ┆ Age ┆ Driving_Licens ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---    ┆ ---     ┆ --- ┆ e              ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ str    ┆ u32     ┆ u32 ┆ ---            ┆   ┆ ---           ┆ ---           ┆ u32     ┆ u32      │
│        ┆         ┆     ┆ u32            ┆   ┆ u32           ┆ u32           ┆         ┆          │
╞════════╪═════════╪═════╪════════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ Male   ┆ 6228134 ┆ 65  ┆ 2              ┆ … ┆ 49023         ┆ 151           ┆ 290     ┆ 2        │
│ Female ┆ 5276664 ┆ 66  ┆ 2              ┆ … ┆ 48170         ┆ 151           ┆ 290     ┆ 2        │
└────────┴─────────┴─────┴────────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

# Manipulation/Selection Methods

In [66]:
# Select 

lazy_df.select("Annual_Premium").collect()

shape: (11_504_798, 1)
┌────────────────┐
│ Annual_Premium │
│ ---            │
│ f64            │
╞════════════════╡
│ 65101.0        │
│ 58911.0        │
│ 38043.0        │
│ 2630.0         │
│ 31951.0        │
│ …              │
│ 27412.0        │
│ 29509.0        │
│ 2630.0         │
│ 48443.0        │
│ 32855.0        │
└────────────────┘

In [67]:
lazy_df.select(["Annual_Premium","Policy_Sales_Channel"]).collect()

shape: (11_504_798, 2)
┌────────────────┬──────────────────────┐
│ Annual_Premium ┆ Policy_Sales_Channel │
│ ---            ┆ ---                  │
│ f64            ┆ f64                  │
╞════════════════╪══════════════════════╡
│ 65101.0        ┆ 124.0                │
│ 58911.0        ┆ 26.0                 │
│ 38043.0        ┆ 152.0                │
│ 2630.0         ┆ 156.0                │
│ 31951.0        ┆ 152.0                │
│ …              ┆ …                    │
│ 27412.0        ┆ 26.0                 │
│ 29509.0        ┆ 152.0                │
│ 2630.0         ┆ 152.0                │
│ 48443.0        ┆ 26.0                 │
│ 32855.0        ┆ 152.0                │
└────────────────┴──────────────────────┘

In [69]:
# Join 

df1 = pl.LazyFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
    "Ranking" : [1,2,7,6]
}
)

df2 = pl.LazyFrame(
    {
        "win" :[20,31,12,9],
        "Countries" : ["INDIA","AUSTRALIA","NL","SA"]
    }
)

In [70]:
df1.join(df2, on="Countries", how="full").collect()

shape: (6, 5)
┌───────────┬─────────┬─────────┬──────┬─────────────────┐
│ Countries ┆ Matches ┆ Ranking ┆ win  ┆ Countries_right │
│ ---       ┆ ---     ┆ ---     ┆ ---  ┆ ---             │
│ str       ┆ i64     ┆ i64     ┆ i64  ┆ str             │
╞═══════════╪═════════╪═════════╪══════╪═════════════════╡
│ INDIA     ┆ 80      ┆ 1       ┆ 20   ┆ INDIA           │
│ AUSTRALIA ┆ 55      ┆ 7       ┆ 31   ┆ AUSTRALIA       │
│ null      ┆ null    ┆ null    ┆ 12   ┆ NL              │
│ null      ┆ null    ┆ null    ┆ 9    ┆ SA              │
│ ENGLAND   ┆ 32      ┆ 6       ┆ null ┆ null            │
│ PAKISTAN  ┆ 42      ┆ 2       ┆ null ┆ null            │
└───────────┴─────────┴─────────┴──────┴─────────────────┘

In [71]:
df1.join(df2, on="Countries", how="left").collect()

shape: (4, 4)
┌───────────┬─────────┬─────────┬──────┐
│ Countries ┆ Matches ┆ Ranking ┆ win  │
│ ---       ┆ ---     ┆ ---     ┆ ---  │
│ str       ┆ i64     ┆ i64     ┆ i64  │
╞═══════════╪═════════╪═════════╪══════╡
│ INDIA     ┆ 80      ┆ 1       ┆ 20   │
│ PAKISTAN  ┆ 42      ┆ 2       ┆ null │
│ AUSTRALIA ┆ 55      ┆ 7       ┆ 31   │
│ ENGLAND   ┆ 32      ┆ 6       ┆ null │
└───────────┴─────────┴─────────┴──────┘

In [72]:
df1.join(df2, on="Countries", how="semi").collect()

shape: (2, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ INDIA     ┆ 80      ┆ 1       │
│ AUSTRALIA ┆ 55      ┆ 7       │
└───────────┴─────────┴─────────┘

In [73]:
df1.join(df2, on="Countries", how="anti").collect()

shape: (2, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ PAKISTAN  ┆ 42      ┆ 2       │
│ ENGLAND   ┆ 32      ┆ 6       │
└───────────┴─────────┴─────────┘

In [76]:
# Slice 

lazy_df.slice(6, 3).collect()

shape: (3, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 6   ┆ Male   ┆ 23  ┆ 1               ┆ … ┆ 27128.0        ┆ 152.0           ┆ 190     ┆ 0        │
│ 7   ┆ Female ┆ 47  ┆ 1               ┆ … ┆ 40659.0        ┆ 26.0            ┆ 262     ┆ 1        │
│ 8   ┆ Female ┆ 26  ┆ 1               ┆ … ┆ 31639.0        ┆ 152.0           ┆ 36      ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

In [77]:
# rename 

lazy_df.rename({"Region_Code": "Location_Code"}).collect()

shape: (11_504_798, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1             ┆ … ┆ 65101.0       ┆ 124.0         ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1             ┆ … ┆ 58911.0       ┆ 26.0          ┆ 288     ┆ 1        │
│ 2        ┆ Female ┆ 25  ┆ 1             ┆ … ┆ 38043.0       ┆ 152.0         ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1             ┆ … ┆ 2630.0        ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 31951.0       ┆ 152.0         ┆ 294     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1             ┆ … ┆ 27412.0       ┆ 26.0          ┆ 218     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1             ┆ … ┆ 48443.0       ┆ 26.0          ┆ 274     ┆ 1        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1             ┆ … ┆ 32855.0       ┆ 152.0         ┆ 189     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [78]:
# interpolate 

lazy_df.interpolate().collect()

shape: (11_504_798, 12)
┌─────────────┬────────┬──────┬──────────────┬───┬──────────────┬─────────────┬─────────┬──────────┐
│ id          ┆ Gender ┆ Age  ┆ Driving_Lice ┆ … ┆ Annual_Premi ┆ Policy_Sale ┆ Vintage ┆ Response │
│ ---         ┆ ---    ┆ ---  ┆ nse          ┆   ┆ um           ┆ s_Channel   ┆ ---     ┆ ---      │
│ f64         ┆ str    ┆ f64  ┆ ---          ┆   ┆ ---          ┆ ---         ┆ f64     ┆ f64      │
│             ┆        ┆      ┆ f64          ┆   ┆ f64          ┆ f64         ┆         ┆          │
╞═════════════╪════════╪══════╪══════════════╪═══╪══════════════╪═════════════╪═════════╪══════════╡
│ 0.0         ┆ Male   ┆ 21.0 ┆ 1.0          ┆ … ┆ 65101.0      ┆ 124.0       ┆ 187.0   ┆ 0.0      │
│ 1.0         ┆ Male   ┆ 43.0 ┆ 1.0          ┆ … ┆ 58911.0      ┆ 26.0        ┆ 288.0   ┆ 1.0      │
│ 2.0         ┆ Female ┆ 25.0 ┆ 1.0          ┆ … ┆ 38043.0      ┆ 152.0       ┆ 254.0   ┆ 0.0      │
│ 3.0         ┆ Female ┆ 35.0 ┆ 1.0          ┆ … ┆ 2630.0       ┆ 156.0       ┆ 76.0    ┆ 0.0      │
│ 4.0         ┆ Female ┆ 36.0 ┆ 1.0          ┆ … ┆ 31951.0      ┆ 152.0       ┆ 294.0   ┆ 0.0      │
│ …           ┆ …      ┆ …    ┆ …            ┆ … ┆ …            ┆ …           ┆ …       ┆ …        │
│ 1.1504793e7 ┆ Male   ┆ 48.0 ┆ 1.0          ┆ … ┆ 27412.0      ┆ 26.0        ┆ 218.0   ┆ 0.0      │
│ 1.1504794e7 ┆ Female ┆ 26.0 ┆ 1.0          ┆ … ┆ 29509.0      ┆ 152.0       ┆ 115.0   ┆ 1.0      │
│ 1.1504795e7 ┆ Female ┆ 29.0 ┆ 1.0          ┆ … ┆ 2630.0       ┆ 152.0       ┆ 189.0   ┆ 0.0      │
│ 1.1504796e7 ┆ Female ┆ 51.0 ┆ 1.0          ┆ … ┆ 48443.0      ┆ 26.0        ┆ 274.0   ┆ 1.0      │
│ 1.1504797e7 ┆ Male   ┆ 25.0 ┆ 1.0          ┆ … ┆ 32855.0      ┆ 152.0       ┆ 189.0   ┆ 0.0      │
└─────────────┴────────┴──────┴──────────────┴───┴──────────────┴─────────────┴─────────┴──────────┘

In [80]:
# Filter 

lazy_df.filter((pl.col("Gender") == "Female") & (pl.col("Driving_License") == 1.0)).collect()

shape: (5_270_990, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 2        ┆ Female ┆ 25  ┆ 1             ┆ … ┆ 38043.0       ┆ 152.0         ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1             ┆ … ┆ 2630.0        ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 31951.0       ┆ 152.0         ┆ 294     ┆ 0        │
│ 5        ┆ Female ┆ 31  ┆ 1             ┆ … ┆ 28150.0       ┆ 152.0         ┆ 197     ┆ 0        │
│ 7        ┆ Female ┆ 47  ┆ 1             ┆ … ┆ 40659.0       ┆ 26.0          ┆ 262     ┆ 1        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504790 ┆ Female ┆ 21  ┆ 1             ┆ … ┆ 38097.0       ┆ 152.0         ┆ 275     ┆ 0        │
│ 11504791 ┆ Female ┆ 31  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 204     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1             ┆ … ┆ 48443.0       ┆ 26.0          ┆ 274     ┆ 1        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [81]:
# drop a column or muilple columns

lazy_df.drop("id").collect()

shape: (11_504_798, 11)
┌────────┬─────┬──────────────┬─────────────┬───┬──────────────┬──────────────┬─────────┬──────────┐
│ Gender ┆ Age ┆ Driving_Lice ┆ Region_Code ┆ … ┆ Annual_Premi ┆ Policy_Sales ┆ Vintage ┆ Response │
│ ---    ┆ --- ┆ nse          ┆ ---         ┆   ┆ um           ┆ _Channel     ┆ ---     ┆ ---      │
│ str    ┆ i64 ┆ ---          ┆ f64         ┆   ┆ ---          ┆ ---          ┆ i64     ┆ i64      │
│        ┆     ┆ i64          ┆             ┆   ┆ f64          ┆ f64          ┆         ┆          │
╞════════╪═════╪══════════════╪═════════════╪═══╪══════════════╪══════════════╪═════════╪══════════╡
│ Male   ┆ 21  ┆ 1            ┆ 35.0        ┆ … ┆ 65101.0      ┆ 124.0        ┆ 187     ┆ 0        │
│ Male   ┆ 43  ┆ 1            ┆ 28.0        ┆ … ┆ 58911.0      ┆ 26.0         ┆ 288     ┆ 1        │
│ Female ┆ 25  ┆ 1            ┆ 14.0        ┆ … ┆ 38043.0      ┆ 152.0        ┆ 254     ┆ 0        │
│ Female ┆ 35  ┆ 1            ┆ 1.0         ┆ … ┆ 2630.0       ┆ 156.0        ┆ 76      ┆ 0        │
│ Female ┆ 36  ┆ 1            ┆ 15.0        ┆ … ┆ 31951.0      ┆ 152.0        ┆ 294     ┆ 0        │
│ …      ┆ …   ┆ …            ┆ …           ┆ … ┆ …            ┆ …            ┆ …       ┆ …        │
│ Male   ┆ 48  ┆ 1            ┆ 6.0         ┆ … ┆ 27412.0      ┆ 26.0         ┆ 218     ┆ 0        │
│ Female ┆ 26  ┆ 1            ┆ 36.0        ┆ … ┆ 29509.0      ┆ 152.0        ┆ 115     ┆ 1        │
│ Female ┆ 29  ┆ 1            ┆ 32.0        ┆ … ┆ 2630.0       ┆ 152.0        ┆ 189     ┆ 0        │
│ Female ┆ 51  ┆ 1            ┆ 28.0        ┆ … ┆ 48443.0      ┆ 26.0         ┆ 274     ┆ 1        │
│ Male   ┆ 25  ┆ 1            ┆ 28.0        ┆ … ┆ 32855.0      ┆ 152.0        ┆ 189     ┆ 0        │
└────────┴─────┴──────────────┴─────────────┴───┴──────────────┴──────────────┴─────────┴──────────┘

In [82]:
lazy_df.drop("Age","Driving_License").collect()

shape: (11_504_798, 10)
┌──────────┬────────┬─────────────┬─────────────┬───┬────────────┬────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Region_Code ┆ Previously_ ┆ … ┆ Annual_Pre ┆ Policy_Sal ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ ---         ┆ Insured     ┆   ┆ mium       ┆ es_Channel ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ f64         ┆ ---         ┆   ┆ ---        ┆ ---        ┆ i64     ┆ i64      │
│          ┆        ┆             ┆ i64         ┆   ┆ f64        ┆ f64        ┆         ┆          │
╞══════════╪════════╪═════════════╪═════════════╪═══╪════════════╪════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 35.0        ┆ 0           ┆ … ┆ 65101.0    ┆ 124.0      ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 28.0        ┆ 0           ┆ … ┆ 58911.0    ┆ 26.0       ┆ 288     ┆ 1        │
│ 2        ┆ Female ┆ 14.0        ┆ 1           ┆ … ┆ 38043.0    ┆ 152.0      ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 1.0         ┆ 0           ┆ … ┆ 2630.0     ┆ 156.0      ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 15.0        ┆ 1           ┆ … ┆ 31951.0    ┆ 152.0      ┆ 294     ┆ 0        │
│ …        ┆ …      ┆ …           ┆ …           ┆ … ┆ …          ┆ …          ┆ …       ┆ …        │
│ 11504793 ┆ Male   ┆ 6.0         ┆ 0           ┆ … ┆ 27412.0    ┆ 26.0       ┆ 218     ┆ 0        │
│ 11504794 ┆ Female ┆ 36.0        ┆ 0           ┆ … ┆ 29509.0    ┆ 152.0      ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 32.0        ┆ 1           ┆ … ┆ 2630.0     ┆ 152.0      ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 28.0        ┆ 0           ┆ … ┆ 48443.0    ┆ 26.0       ┆ 274     ┆ 1        │
│ 11504797 ┆ Male   ┆ 28.0        ┆ 1           ┆ … ┆ 32855.0    ┆ 152.0      ┆ 189     ┆ 0        │
└──────────┴────────┴─────────────┴─────────────┴───┴────────────┴────────────┴─────────┴──────────┘

# Miscellaneous Methods

In [84]:
# profile 

lazy_df.group_by("Gender", maintain_order=True).agg(pl.all().sum()).sort(
    "Gender"
).profile()

(shape: (2, 12)
 ┌────────┬────────────┬───────────┬────────────┬───┬────────────┬───────────┬───────────┬──────────┐
 │ Gender ┆ id         ┆ Age       ┆ Driving_Li ┆ … ┆ Annual_Pre ┆ Policy_Sa ┆ Vintage   ┆ Response │
 │ ---    ┆ ---        ┆ ---       ┆ cense      ┆   ┆ mium       ┆ les_Chann ┆ ---       ┆ ---      │
 │ str    ┆ i64        ┆ i64       ┆ ---        ┆   ┆ ---        ┆ el        ┆ i64       ┆ i64      │
 │        ┆            ┆           ┆ i64        ┆   ┆ f64        ┆ ---       ┆           ┆          │
 │        ┆            ┆           ┆            ┆   ┆            ┆ f64       ┆           ┆          │
 ╞════════╪════════════╪═══════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪══════════╡
 │ Female ┆ 3035405904 ┆ 188985590 ┆ 5270990    ┆ … ┆ 1.5973e11  ┆ 6.2918264 ┆ 869205331 ┆ 545061   │
 │        ┆ 3684       ┆           ┆            ┆   ┆            ┆ 4e8       ┆           ┆          │
 │ Male   ┆ 3582612371 ┆ 252609553 ┆ 6211051    ┆ … ┆ 1.9072e11  ┆ 6.6424935 ┆ 101640510 ┆ 869998   │
 │        ┆ 4319       ┆           ┆            ┆   ┆            ┆ 5e8       ┆ 5         ┆          │
 └────────┴────────────┴───────────┴────────────┴───┴────────────┴───────────┴───────────┴──────────┘,
 shape: (3, 3)
 ┌──────────────────────────────┬────────┬────────┐
 │ node                         ┆ start  ┆ end    │
 │ ---                          ┆ ---    ┆ ---    │
 │ str                          ┆ u64    ┆ u64    │
 ╞══════════════════════════════╪════════╪════════╡
 │ optimization                 ┆ 0      ┆ 26863  │
 │ group_by_partitioned(Gender) ┆ 26863  ┆ 524796 │
 │ sort(Gender)                 ┆ 524803 ┆ 524915 │
 └──────────────────────────────┴────────┴────────┘)

In [85]:
# pipe method

df = pl.LazyFrame({
    "a": [1, 2, 3, 4],
    "b": [5, 6, 7, 8]
})

# Function to add a new column
def add_new_column(df, col1, col2):
    return df.with_columns((pl.col(col1) + pl.col(col2)).alias("c"))

# Function to filter rows where the new column is greater than a threshold
def filter_rows(df, threshold):
    return df.filter(pl.col("c") > threshold)

# Chaining multiple operations
df_final = (
    df.pipe(add_new_column, "a", "b")
       .pipe(filter_rows, threshold=10)
).collect()

print(df_final)

shape: (1, 3)
┌─────┬─────┬─────┐
│ a   ┆ b   ┆ c   │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ 4   ┆ 8   ┆ 12  │
└─────┴─────┴─────┘