# Installation of the Polars 

We can use the Following command for installing Polars 

- pip install polars ( For Python )
- conda install conda-forge::polars ( Conda Env )

# Import Polars

In [1]:
import polars as pl

In [2]:
print(pl.__version__)

1.5.0

In [3]:
insurance_df = pl.read_csv("Insurance.csv")

In [4]:
type(insurance_df)

polars.dataframe.frame.DataFrame

In [9]:
insurance_df.head()

shape: (5, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 0   ┆ Male   ┆ 21  ┆ 1               ┆ … ┆ 65101.0        ┆ 124.0           ┆ 187     ┆ 0        │
│ 1   ┆ Male   ┆ 43  ┆ 1               ┆ … ┆ 58911.0        ┆ 26.0            ┆ 288     ┆ 1        │
│ 2   ┆ Female ┆ 25  ┆ 1               ┆ … ┆ 38043.0        ┆ 152.0           ┆ 254     ┆ 0        │
│ 3   ┆ Female ┆ 35  ┆ 1               ┆ … ┆ 2630.0         ┆ 156.0           ┆ 76      ┆ 0        │
│ 4   ┆ Female ┆ 36  ┆ 1               ┆ … ┆ 31951.0        ┆ 152.0           ┆ 294     ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

# Attributes Methods

In [10]:
insurance_df.columns

['id',
 'Gender',
 'Age',
 'Driving_License',
 'Region_Code',
 'Previously_Insured',
 'Vehicle_Age',
 'Vehicle_Damage',
 'Annual_Premium',
 'Policy_Sales_Channel',
 'Vintage',
 'Response']

In [11]:
insurance_df.dtypes

[Int64,
 String,
 Int64,
 Int64,
 Float64,
 Int64,
 String,
 String,
 Float64,
 Float64,
 Int64,
 Int64]

In [12]:
insurance_df.height

11504798

In [13]:
insurance_df.flags

{'id': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Gender': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Age': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Driving_License': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Region_Code': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Previously_Insured': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Vehicle_Age': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Vehicle_Damage': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Annual_Premium': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Policy_Sales_Channel': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Vintage': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Response': {'SORTED_ASC': False, 'SORTED_DESC': False}}

In [14]:
insurance_df.width

12

In [15]:
insurance_df.shape

(11504798, 12)

In [16]:
insurance_df.schema

Schema([('id', Int64),
        ('Gender', String),
        ('Age', Int64),
        ('Driving_License', Int64),
        ('Region_Code', Float64),
        ('Previously_Insured', Int64),
        ('Vehicle_Age', String),
        ('Vehicle_Damage', String),
        ('Annual_Premium', Float64),
        ('Policy_Sales_Channel', Float64),
        ('Vintage', Int64),
        ('Response', Int64)])

# Descriptive Methods

In [20]:
insurance_df.describe()

shape: (9, 13)
┌───────────┬───────────┬──────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic ┆ id        ┆ Gender   ┆ Age       ┆ … ┆ Annual_Pr ┆ Policy_Sa ┆ Vintage   ┆ Response  │
│ ---       ┆ ---       ┆ ---      ┆ ---       ┆   ┆ emium     ┆ les_Chann ┆ ---       ┆ ---       │
│ str       ┆ f64       ┆ str      ┆ f64       ┆   ┆ ---       ┆ el        ┆ f64       ┆ f64       │
│           ┆           ┆          ┆           ┆   ┆ f64       ┆ ---       ┆           ┆           │
│           ┆           ┆          ┆           ┆   ┆           ┆ f64       ┆           ┆           │
╞═══════════╪═══════════╪══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count     ┆ 1.1504798 ┆ 11504798 ┆ 1.1504798 ┆ … ┆ 1.1504798 ┆ 1.1504798 ┆ 1.1504798 ┆ 1.1504798 │
│           ┆ e7        ┆          ┆ e7        ┆   ┆ e7        ┆ e7        ┆ e7        ┆ e7        │
│ null_coun ┆ 0.0       ┆ 0        ┆ 0.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0       │
│ t         ┆           ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│ mean      ┆ 5752398.5 ┆ null     ┆ 38.383563 ┆ … ┆ 30461.370 ┆ 112.42544 ┆ 163.89774 ┆ 0.122997  │
│           ┆           ┆          ┆           ┆   ┆ 411       ┆ 2         ┆ 4         ┆           │
│ std       ┆ 3.3211e6  ┆ null     ┆ 14.993459 ┆ … ┆ 16454.745 ┆ 54.035708 ┆ 79.979531 ┆ 0.328434  │
│           ┆           ┆          ┆           ┆   ┆ 205       ┆           ┆           ┆           │
│ min       ┆ 0.0       ┆ Female   ┆ 20.0      ┆ … ┆ 2630.0    ┆ 1.0       ┆ 10.0      ┆ 0.0       │
│ 25%       ┆ 2.876199e ┆ null     ┆ 24.0      ┆ … ┆ 25277.0   ┆ 29.0      ┆ 99.0      ┆ 0.0       │
│           ┆ 6         ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│ 50%       ┆ 5.752399e ┆ null     ┆ 36.0      ┆ … ┆ 31824.0   ┆ 151.0     ┆ 166.0     ┆ 0.0       │
│           ┆ 6         ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│ 75%       ┆ 8.628598e ┆ null     ┆ 49.0      ┆ … ┆ 39451.0   ┆ 152.0     ┆ 232.0     ┆ 0.0       │
│           ┆ 6         ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│ max       ┆ 1.1504797 ┆ Male     ┆ 85.0      ┆ … ┆ 540165.0  ┆ 163.0     ┆ 299.0     ┆ 1.0       │
│           ┆ e7        ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴───────────┴──────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [22]:
insurance_df.approx_n_unique()

C:\Users\Saurav\AppData\Local\Temp\ipykernel_10932\3046653036.py:1: DeprecationWarning: `DataFrame.approx_n_unique` is deprecated. Use `select(pl.all().approx_n_unique())` instead.
  insurance_df.approx_n_unique()
C:\Users\Saurav\AppData\Local\Temp\ipykernel_10932\3046653036.py:1: DeprecationWarning: `LazyFrame.approx_n_unique` is deprecated. Use `select(pl.all().approx_n_unique())` instead.
  insurance_df.approx_n_unique()

shape: (1, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ u32      ┆ u32    ┆ u32 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ u32     ┆ u32      │
│          ┆        ┆     ┆ u32           ┆   ┆ u32           ┆ u32           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 11385199 ┆ 2      ┆ 65  ┆ 2             ┆ … ┆ 51800         ┆ 151           ┆ 291     ┆ 2        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [24]:
insurance_df.estimated_size()

1006227160

In [25]:
insurance_df.glimpse()

Rows: 11504798
Columns: 12
$ id                   <i64> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
$ Gender               <str> 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female'
$ Age                  <i64> 21, 43, 25, 35, 36, 31, 23, 47, 26, 66
$ Driving_License      <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ Region_Code          <f64> 35.0, 28.0, 14.0, 1.0, 15.0, 47.0, 45.0, 8.0, 28.0, 11.0
$ Previously_Insured   <i64> 0, 0, 1, 0, 1, 1, 1, 0, 1, 0
$ Vehicle_Age          <str> '1-2 Year', '> 2 Years', '< 1 Year', '1-2 Year', '1-2 Year', '< 1 Year', '< 1 Year', '1-2 Year', '< 1 Year', '1-2 Year'
$ Vehicle_Damage       <str> 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes'
$ Annual_Premium       <f64> 65101.0, 58911.0, 38043.0, 2630.0, 31951.0, 28150.0, 27128.0, 40659.0, 31639.0, 2630.0
$ Policy_Sales_Channel <f64> 124.0, 26.0, 152.0, 156.0, 152.0, 152.0, 152.0, 26.0, 152.0, 26.0
$ Vintage              <i64> 187, 288, 254, 76, 294, 197, 190, 262, 36, 125
$ Response             <i64> 0, 1, 0, 0, 0, 0, 0, 1, 0, 0

In [26]:
insurance_df.is_duplicated()

shape: (11_504_798,)
Series: '' [bool]
[
	false
	false
	false
	false
	false
	…
	false
	false
	false
	false
	false
]

In [27]:
insurance_df.is_unique()

shape: (11_504_798,)
Series: '' [bool]
[
	true
	true
	true
	true
	true
	…
	true
	true
	true
	true
	true
]

In [28]:
insurance_df.n_chunks()

8

In [29]:
insurance_df.n_unique()

11504798

In [30]:
insurance_df.null_count()

shape: (1, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ u32 ┆ u32    ┆ u32 ┆ u32             ┆   ┆ u32            ┆ ---             ┆ u32     ┆ u32      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ u32             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 0   ┆ 0      ┆ 0   ┆ 0               ┆ … ┆ 0              ┆ 0               ┆ 0       ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

# Aggregation functions

In [31]:
insurance_df.count()

shape: (1, 12)
┌──────────┬──────────┬──────────┬─────────────┬───┬────────────┬────────────┬──────────┬──────────┐
│ id       ┆ Gender   ┆ Age      ┆ Driving_Lic ┆ … ┆ Annual_Pre ┆ Policy_Sal ┆ Vintage  ┆ Response │
│ ---      ┆ ---      ┆ ---      ┆ ense        ┆   ┆ mium       ┆ es_Channel ┆ ---      ┆ ---      │
│ u32      ┆ u32      ┆ u32      ┆ ---         ┆   ┆ ---        ┆ ---        ┆ u32      ┆ u32      │
│          ┆          ┆          ┆ u32         ┆   ┆ u32        ┆ u32        ┆          ┆          │
╞══════════╪══════════╪══════════╪═════════════╪═══╪════════════╪════════════╪══════════╪══════════╡
│ 11504798 ┆ 11504798 ┆ 11504798 ┆ 11504798    ┆ … ┆ 11504798   ┆ 11504798   ┆ 11504798 ┆ 11504798 │
└──────────┴──────────┴──────────┴─────────────┴───┴────────────┴────────────┴──────────┴──────────┘

In [32]:
insurance_df.max()

shape: (1, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 11504797 ┆ Male   ┆ 85  ┆ 1             ┆ … ┆ 540165.0      ┆ 163.0         ┆ 299     ┆ 1        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [35]:
# max_horizontal() method

In [34]:
insurance_df.mean()

shape: (1, 12)
┌───────────┬────────┬───────────┬────────────┬───┬────────────┬────────────┬───────────┬──────────┐
│ id        ┆ Gender ┆ Age       ┆ Driving_Li ┆ … ┆ Annual_Pre ┆ Policy_Sal ┆ Vintage   ┆ Response │
│ ---       ┆ ---    ┆ ---       ┆ cense      ┆   ┆ mium       ┆ es_Channel ┆ ---       ┆ ---      │
│ f64       ┆ str    ┆ f64       ┆ ---        ┆   ┆ ---        ┆ ---        ┆ f64       ┆ f64      │
│           ┆        ┆           ┆ f64        ┆   ┆ f64        ┆ f64        ┆           ┆          │
╞═══════════╪════════╪═══════════╪════════════╪═══╪════════════╪════════════╪═══════════╪══════════╡
│ 5752398.5 ┆ null   ┆ 38.383563 ┆ 0.998022   ┆ … ┆ 30461.3704 ┆ 112.425442 ┆ 163.89774 ┆ 0.122997 │
│           ┆        ┆           ┆            ┆   ┆ 11         ┆            ┆ 4         ┆          │
└───────────┴────────┴───────────┴────────────┴───┴────────────┴────────────┴───────────┴──────────┘

In [36]:
# mean_horizontal() method

In [37]:
insurance_df.median()

shape: (1, 12)
┌───────────┬────────┬──────┬───────────────┬───┬──────────────┬──────────────┬─────────┬──────────┐
│ id        ┆ Gender ┆ Age  ┆ Driving_Licen ┆ … ┆ Annual_Premi ┆ Policy_Sales ┆ Vintage ┆ Response │
│ ---       ┆ ---    ┆ ---  ┆ se            ┆   ┆ um           ┆ _Channel     ┆ ---     ┆ ---      │
│ f64       ┆ str    ┆ f64  ┆ ---           ┆   ┆ ---          ┆ ---          ┆ f64     ┆ f64      │
│           ┆        ┆      ┆ f64           ┆   ┆ f64          ┆ f64          ┆         ┆          │
╞═══════════╪════════╪══════╪═══════════════╪═══╪══════════════╪══════════════╪═════════╪══════════╡
│ 5752398.5 ┆ null   ┆ 36.0 ┆ 1.0           ┆ … ┆ 31824.0      ┆ 151.0        ┆ 166.0   ┆ 0.0      │
└───────────┴────────┴──────┴───────────────┴───┴──────────────┴──────────────┴─────────┴──────────┘

In [38]:
insurance_df.min()

shape: (1, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 0   ┆ Female ┆ 20  ┆ 0               ┆ … ┆ 2630.0         ┆ 1.0             ┆ 10      ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

In [40]:
#insurance_df.min_horizontal()

In [41]:
insurance_df.product()

shape: (1, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ null   ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 0   ┆ null   ┆ 0   ┆ 0               ┆ … ┆ inf            ┆ inf             ┆ 0       ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

In [44]:
insurance_df.quantile(0.5,"nearest")

shape: (1, 12)
┌────────────┬────────┬──────┬──────────────┬───┬──────────────┬──────────────┬─────────┬──────────┐
│ id         ┆ Gender ┆ Age  ┆ Driving_Lice ┆ … ┆ Annual_Premi ┆ Policy_Sales ┆ Vintage ┆ Response │
│ ---        ┆ ---    ┆ ---  ┆ nse          ┆   ┆ um           ┆ _Channel     ┆ ---     ┆ ---      │
│ f64        ┆ str    ┆ f64  ┆ ---          ┆   ┆ ---          ┆ ---          ┆ f64     ┆ f64      │
│            ┆        ┆      ┆ f64          ┆   ┆ f64          ┆ f64          ┆         ┆          │
╞════════════╪════════╪══════╪══════════════╪═══╪══════════════╪══════════════╪═════════╪══════════╡
│ 5.752399e6 ┆ null   ┆ 36.0 ┆ 1.0          ┆ … ┆ 31824.0      ┆ 151.0        ┆ 166.0   ┆ 0.0      │
└────────────┴────────┴──────┴──────────────┴───┴──────────────┴──────────────┴─────────┴──────────┘

In [47]:
insurance_df.std()

shape: (1, 12)
┌──────────┬────────┬───────────┬─────────────┬───┬────────────┬────────────┬───────────┬──────────┐
│ id       ┆ Gender ┆ Age       ┆ Driving_Lic ┆ … ┆ Annual_Pre ┆ Policy_Sal ┆ Vintage   ┆ Response │
│ ---      ┆ ---    ┆ ---       ┆ ense        ┆   ┆ mium       ┆ es_Channel ┆ ---       ┆ ---      │
│ f64      ┆ str    ┆ f64       ┆ ---         ┆   ┆ ---        ┆ ---        ┆ f64       ┆ f64      │
│          ┆        ┆           ┆ f64         ┆   ┆ f64        ┆ f64        ┆           ┆          │
╞══════════╪════════╪═══════════╪═════════════╪═══╪════════════╪════════════╪═══════════╪══════════╡
│ 3.3211e6 ┆ null   ┆ 14.993459 ┆ 0.044431    ┆ … ┆ 16454.7452 ┆ 54.035708  ┆ 79.979531 ┆ 0.328434 │
│          ┆        ┆           ┆             ┆   ┆ 05         ┆            ┆           ┆          │
└──────────┴────────┴───────────┴─────────────┴───┴────────────┴────────────┴───────────┴──────────┘

In [48]:
insurance_df.sum()

shape: (1, 12)
┌────────────┬────────┬───────────┬────────────┬───┬────────────┬───────────┬───────────┬──────────┐
│ id         ┆ Gender ┆ Age       ┆ Driving_Li ┆ … ┆ Annual_Pre ┆ Policy_Sa ┆ Vintage   ┆ Response │
│ ---        ┆ ---    ┆ ---       ┆ cense      ┆   ┆ mium       ┆ les_Chann ┆ ---       ┆ ---      │
│ i64        ┆ str    ┆ i64       ┆ ---        ┆   ┆ ---        ┆ el        ┆ i64       ┆ i64      │
│            ┆        ┆           ┆ i64        ┆   ┆ f64        ┆ ---       ┆           ┆          │
│            ┆        ┆           ┆            ┆   ┆            ┆ f64       ┆           ┆          │
╞════════════╪════════╪═══════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪══════════╡
│ 6618018275 ┆ null   ┆ 441595143 ┆ 11482041   ┆ … ┆ 3.5045e11  ┆ 1.2934e9  ┆ 188561043 ┆ 1415059  │
│ 8003       ┆        ┆           ┆            ┆   ┆            ┆           ┆ 6         ┆          │
└────────────┴────────┴───────────┴────────────┴───┴────────────┴───────────┴───────────┴──────────┘

In [50]:
#insurance_df.sum_horizontal()

In [51]:
insurance_df.var()

shape: (1, 12)
┌───────────┬────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬──────────┐
│ id        ┆ Gender ┆ Age        ┆ Driving_Li ┆ … ┆ Annual_Pre ┆ Policy_Sa ┆ Vintage   ┆ Response │
│ ---       ┆ ---    ┆ ---        ┆ cense      ┆   ┆ mium       ┆ les_Chann ┆ ---       ┆ ---      │
│ f64       ┆ str    ┆ f64        ┆ ---        ┆   ┆ ---        ┆ el        ┆ f64       ┆ f64      │
│           ┆        ┆            ┆ f64        ┆   ┆ f64        ┆ ---       ┆           ┆          │
│           ┆        ┆            ┆            ┆   ┆            ┆ f64       ┆           ┆          │
╞═══════════╪════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪══════════╡
│ 1.1030e13 ┆ null   ┆ 224.803798 ┆ 0.001974   ┆ … ┆ 2.7076e8   ┆ 2919.8577 ┆ 6396.7253 ┆ 0.107869 │
│           ┆        ┆            ┆            ┆   ┆            ┆ 15        ┆ 96        ┆          │
└───────────┴────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴──────────┘

# Computation

In [60]:
df = insurance_df.select(["Age","Vintage"])

In [61]:
df.columns

['Age', 'Vintage']

In [62]:
type(df)

polars.dataframe.frame.DataFrame

In [63]:
df.fold(lambda s1, s2: s1 + s2)

shape: (11_504_798,)
Series: 'Age' [i64]
[
	208
	331
	279
	111
	330
	…
	266
	141
	218
	325
	214
]

In [65]:
df_new = pl.DataFrame({
    "x":[False,True,True,False],
    "y":[False,False,True,True] }
    )

df_new.fold(lambda s1,s2: s1 | s2)

shape: (4,)
Series: 'x' [bool]
[
	false
	true
	true
	true
]

In [66]:
df = insurance_df.select(["Age","Vehicle_Age"])

In [67]:
df.fold(lambda s1, s2: s1 + s2)

shape: (11_504_798,)
Series: 'Age' [str]
[
	"211-2 Year"
	"43> 2 Years"
	"25< 1 Year"
	"351-2 Year"
	"361-2 Year"
	…
	"481-2 Year"
	"26< 1 Year"
	"29< 1 Year"
	"511-2 Year"
	"25< 1 Year"
]

In [70]:
df = insurance_df.select(["Vintage","Policy_Sales_Channel"])

In [71]:
df.fold(lambda s1, s2: s1.zip_with(s1 < s2, s1))

shape: (11_504_798,)
Series: 'Vintage' [i64]
[
	187
	288
	254
	76
	294
	…
	218
	115
	189
	274
	189
]

In [72]:
df = pl.DataFrame({
    "column1": [1, 2, 3],
    "column2": ["a", "b", "c"],
    "column3": [True, False, True]
})

In [73]:
# Computing hash values for each row
hashed_rows = df.hash_rows()

In [77]:
# Adding the hash values as a new column to the DataFrame
print(hashed_rows)

shape: (3,)
Series: '' [u64]
[
	14243803916997746971
	3996096467982460256
	16030991012432678
]

# Export Methods

In [78]:
df_dict = insurance_df.to_dict(as_series=False)

In [79]:
type(df_dict)

dict

In [80]:
df_arrow = insurance_df.to_arrow()

In [81]:
type(df_arrow)

pyarrow.lib.Table

In [82]:
df = insurance_df.__dataframe__()
df.num_rows()

11504798

In [83]:
df.get_column(1).dtype

(<DtypeKind.STRING: 21>, 8, 'U', '=')

In [84]:
type(df)

polars.interchange.dataframe.PolarsDataFrame

In [85]:
type(insurance_df)

polars.dataframe.frame.DataFrame

In [5]:
df = insurance_df.to_init_repr()
type(df)

str

In [7]:
df = insurance_df.to_numpy()
type(df)

numpy.ndarray

In [8]:
df = insurance_df.to_pandas()
type(df)

pandas.core.frame.DataFrame

In [9]:
df = insurance_df.to_struct()
type(df)

polars.series.series.Series

# GroupBy Methods

In [11]:
for name, data in insurance_df.group_by("Gender"):
    print(name)
    print(data)

('Female',)
shape: (5_276_664, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 2        ┆ Female ┆ 25  ┆ 1             ┆ … ┆ 38043.0       ┆ 152.0         ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1             ┆ … ┆ 2630.0        ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 31951.0       ┆ 152.0         ┆ 294     ┆ 0        │
│ 5        ┆ Female ┆ 31  ┆ 1             ┆ … ┆ 28150.0       ┆ 152.0         ┆ 197     ┆ 0        │
│ 7        ┆ Female ┆ 47  ┆ 1             ┆ … ┆ 40659.0       ┆ 26.0          ┆ 262     ┆ 1        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504790 ┆ Female ┆ 21  ┆ 1             ┆ … ┆ 38097.0       ┆ 152.0         ┆ 275     ┆ 0        │
│ 11504791 ┆ Female ┆ 31  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 204     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1             ┆ … ┆ 48443.0       ┆ 26.0          ┆ 274     ┆ 1        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘
('Male',)
shape: (6_228_134, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1             ┆ … ┆ 65101.0       ┆ 124.0         ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1             ┆ … ┆ 58911.0       ┆ 26.0          ┆ 288     ┆ 1        │
│ 6        ┆ Male   ┆ 23  ┆ 1             ┆ … ┆ 27128.0       ┆ 152.0         ┆ 190     ┆ 0        │
│ 10       ┆ Male   ┆ 22  ┆ 1             ┆ … ┆ 27996.0       ┆ 152.0         ┆ 215     ┆ 0        │
│ 12       ┆ Male   ┆ 36  ┆ 1             ┆ … ┆ 38104.0       ┆ 26.0          ┆ 203     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504788 ┆ Male   ┆ 66  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 74      ┆ 0        │
│ 11504789 ┆ Male   ┆ 27  ┆ 1             ┆ … ┆ 53615.0       ┆ 152.0         ┆ 98      ┆ 0        │
│ 11504792 ┆ Male   ┆ 34  ┆ 1             ┆ … ┆ 29974.0       ┆ 154.0         ┆ 201     ┆ 0        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1             ┆ … ┆ 27412.0       ┆ 26.0          ┆ 218     ┆ 0        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1             ┆ … ┆ 32855.0       ┆ 152.0         ┆ 189     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

## GroupBy Agg

In [13]:
insurance_df.group_by("Gender").agg(pl.col("Annual_Premium").sum())

shape: (2, 2)
┌────────┬────────────────┐
│ Gender ┆ Annual_Premium │
│ ---    ┆ ---            │
│ str    ┆ f64            │
╞════════╪════════════════╡
│ Male   ┆ 1.9072e11      │
│ Female ┆ 1.5973e11      │
└────────┴────────────────┘

In [14]:
insurance_df.group_by("Gender").agg([pl.sum("Annual_Premium"),pl.mean("Policy_Sales_Channel")])

shape: (2, 3)
┌────────┬────────────────┬──────────────────────┐
│ Gender ┆ Annual_Premium ┆ Policy_Sales_Channel │
│ ---    ┆ ---            ┆ ---                  │
│ str    ┆ f64            ┆ f64                  │
╞════════╪════════════════╪══════════════════════╡
│ Male   ┆ 1.9072e11      ┆ 106.653029           │
│ Female ┆ 1.5973e11      ┆ 119.238717           │
└────────┴────────────────┴──────────────────────┘

## GroupBy All

In [15]:
insurance_df.group_by("Gender",maintain_order=True).all()

shape: (2, 12)
┌────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Gender ┆ id         ┆ Age        ┆ Driving_L ┆ … ┆ Annual_Pr ┆ Policy_Sa ┆ Vintage   ┆ Response  │
│ ---    ┆ ---        ┆ ---        ┆ icense    ┆   ┆ emium     ┆ les_Chann ┆ ---       ┆ ---       │
│ str    ┆ list[i64]  ┆ list[i64]  ┆ ---       ┆   ┆ ---       ┆ el        ┆ list[i64] ┆ list[i64] │
│        ┆            ┆            ┆ list[i64] ┆   ┆ list[f64] ┆ ---       ┆           ┆           │
│        ┆            ┆            ┆           ┆   ┆           ┆ list[f64] ┆           ┆           │
╞════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Male   ┆ [0, 1, …   ┆ [21, 43, … ┆ [1, 1, …  ┆ … ┆ [65101.0, ┆ [124.0,   ┆ [187,     ┆ [0, 1, …  │
│        ┆ 11504797]  ┆ 25]        ┆ 1]        ┆   ┆ 58911.0,  ┆ 26.0, …   ┆ 288, …    ┆ 0]        │
│        ┆            ┆            ┆           ┆   ┆ …         ┆ 152.0]    ┆ 189]      ┆           │
│        ┆            ┆            ┆           ┆   ┆ 32855.0]  ┆           ┆           ┆           │
│ Female ┆ [2, 3, …   ┆ [25, 35, … ┆ [1, 1, …  ┆ … ┆ [38043.0, ┆ [152.0,   ┆ [254, 76, ┆ [0, 0, …  │
│        ┆ 11504796]  ┆ 51]        ┆ 1]        ┆   ┆ 2630.0, … ┆ 156.0, …  ┆ … 274]    ┆ 1]        │
│        ┆            ┆            ┆           ┆   ┆ 48443.0]  ┆ 26.0]     ┆           ┆           │
└────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

## GroupBy Count

In [16]:
insurance_df.group_by("Gender").count()

C:\Users\Saurav\AppData\Local\Temp\ipykernel_2888\4120252076.py:1: DeprecationWarning: `GroupBy.count` is deprecated. It has been renamed to `len`.
  insurance_df.group_by("Gender").count()

shape: (2, 2)
┌────────┬─────────┐
│ Gender ┆ count   │
│ ---    ┆ ---     │
│ str    ┆ u32     │
╞════════╪═════════╡
│ Female ┆ 5276664 │
│ Male   ┆ 6228134 │
└────────┴─────────┘

## GroupBy first

In [17]:
insurance_df.group_by("Vehicle_Age").first()

shape: (3, 12)
┌─────────────┬─────┬────────┬─────┬───┬────────────────┬─────────────────────┬─────────┬──────────┐
│ Vehicle_Age ┆ id  ┆ Gender ┆ Age ┆ … ┆ Annual_Premium ┆ Policy_Sales_Channe ┆ Vintage ┆ Response │
│ ---         ┆ --- ┆ ---    ┆ --- ┆   ┆ ---            ┆ l                   ┆ ---     ┆ ---      │
│ str         ┆ i64 ┆ str    ┆ i64 ┆   ┆ f64            ┆ ---                 ┆ i64     ┆ i64      │
│             ┆     ┆        ┆     ┆   ┆                ┆ f64                 ┆         ┆          │
╞═════════════╪═════╪════════╪═════╪═══╪════════════════╪═════════════════════╪═════════╪══════════╡
│ 1-2 Year    ┆ 0   ┆ Male   ┆ 21  ┆ … ┆ 65101.0        ┆ 124.0               ┆ 187     ┆ 0        │
│ > 2 Years   ┆ 1   ┆ Male   ┆ 43  ┆ … ┆ 58911.0        ┆ 26.0                ┆ 288     ┆ 1        │
│ < 1 Year    ┆ 2   ┆ Female ┆ 25  ┆ … ┆ 38043.0        ┆ 152.0               ┆ 254     ┆ 0        │
└─────────────┴─────┴────────┴─────┴───┴────────────────┴─────────────────────┴─────────┴──────────┘

## GroupBy Head

In [20]:
insurance_df.group_by("Vehicle_Age").head(3)

shape: (9, 12)
┌─────────────┬─────┬────────┬─────┬───┬────────────────┬─────────────────────┬─────────┬──────────┐
│ Vehicle_Age ┆ id  ┆ Gender ┆ Age ┆ … ┆ Annual_Premium ┆ Policy_Sales_Channe ┆ Vintage ┆ Response │
│ ---         ┆ --- ┆ ---    ┆ --- ┆   ┆ ---            ┆ l                   ┆ ---     ┆ ---      │
│ str         ┆ i64 ┆ str    ┆ i64 ┆   ┆ f64            ┆ ---                 ┆ i64     ┆ i64      │
│             ┆     ┆        ┆     ┆   ┆                ┆ f64                 ┆         ┆          │
╞═════════════╪═════╪════════╪═════╪═══╪════════════════╪═════════════════════╪═════════╪══════════╡
│ < 1 Year    ┆ 2   ┆ Female ┆ 25  ┆ … ┆ 38043.0        ┆ 152.0               ┆ 254     ┆ 0        │
│ < 1 Year    ┆ 5   ┆ Female ┆ 31  ┆ … ┆ 28150.0        ┆ 152.0               ┆ 197     ┆ 0        │
│ < 1 Year    ┆ 6   ┆ Male   ┆ 23  ┆ … ┆ 27128.0        ┆ 152.0               ┆ 190     ┆ 0        │
│ > 2 Years   ┆ 1   ┆ Male   ┆ 43  ┆ … ┆ 58911.0        ┆ 26.0                ┆ 288     ┆ 1        │
│ > 2 Years   ┆ 15  ┆ Male   ┆ 79  ┆ … ┆ 66887.0        ┆ 124.0               ┆ 150     ┆ 0        │
│ > 2 Years   ┆ 78  ┆ Male   ┆ 46  ┆ … ┆ 31240.0        ┆ 124.0               ┆ 132     ┆ 0        │
│ 1-2 Year    ┆ 0   ┆ Male   ┆ 21  ┆ … ┆ 65101.0        ┆ 124.0               ┆ 187     ┆ 0        │
│ 1-2 Year    ┆ 3   ┆ Female ┆ 35  ┆ … ┆ 2630.0         ┆ 156.0               ┆ 76      ┆ 0        │
│ 1-2 Year    ┆ 4   ┆ Female ┆ 36  ┆ … ┆ 31951.0        ┆ 152.0               ┆ 294     ┆ 0        │
└─────────────┴─────┴────────┴─────┴───┴────────────────┴─────────────────────┴─────────┴──────────┘

## GroupBy Last

In [21]:
insurance_df.group_by("Vehicle_Age").last()

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────┬───┬────────────────┬────────────────┬─────────┬──────────┐
│ Vehicle_Age ┆ id       ┆ Gender ┆ Age ┆ … ┆ Annual_Premium ┆ Policy_Sales_C ┆ Vintage ┆ Response │
│ ---         ┆ ---      ┆ ---    ┆ --- ┆   ┆ ---            ┆ hannel         ┆ ---     ┆ ---      │
│ str         ┆ i64      ┆ str    ┆ i64 ┆   ┆ f64            ┆ ---            ┆ i64     ┆ i64      │
│             ┆          ┆        ┆     ┆   ┆                ┆ f64            ┆         ┆          │
╞═════════════╪══════════╪════════╪═════╪═══╪════════════════╪════════════════╪═════════╪══════════╡
│ > 2 Years   ┆ 11504757 ┆ Female ┆ 57  ┆ … ┆ 69344.0        ┆ 122.0          ┆ 163     ┆ 0        │
│ < 1 Year    ┆ 11504797 ┆ Male   ┆ 25  ┆ … ┆ 32855.0        ┆ 152.0          ┆ 189     ┆ 0        │
│ 1-2 Year    ┆ 11504796 ┆ Female ┆ 51  ┆ … ┆ 48443.0        ┆ 26.0           ┆ 274     ┆ 1        │
└─────────────┴──────────┴────────┴─────┴───┴────────────────┴────────────────┴─────────┴──────────┘

## GroupBy len

In [22]:
insurance_df.group_by("Vehicle_Age").len()

shape: (3, 2)
┌─────────────┬─────────┐
│ Vehicle_Age ┆ len     │
│ ---         ┆ ---     │
│ str         ┆ u32     │
╞═════════════╪═════════╡
│ 1-2 Year    ┆ 5982678 │
│ < 1 Year    ┆ 5044145 │
│ > 2 Years   ┆ 477975  │
└─────────────┴─────────┘

## GroupBy Map_groups

In [23]:
insurance_df.group_by("Vehicle_Age").map_groups(lambda group_df:group_df.sample(2))

shape: (6, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 6705536  ┆ Male   ┆ 31  ┆ 1             ┆ … ┆ 30263.0       ┆ 124.0         ┆ 261     ┆ 0        │
│ 6800582  ┆ Female ┆ 42  ┆ 1             ┆ … ┆ 39911.0       ┆ 154.0         ┆ 63      ┆ 1        │
│ 11405860 ┆ Male   ┆ 63  ┆ 1             ┆ … ┆ 58718.0       ┆ 26.0          ┆ 189     ┆ 1        │
│ 10940257 ┆ Male   ┆ 44  ┆ 1             ┆ … ┆ 49094.0       ┆ 124.0         ┆ 226     ┆ 0        │
│ 2212512  ┆ Female ┆ 24  ┆ 1             ┆ … ┆ 38949.0       ┆ 152.0         ┆ 106     ┆ 0        │
│ 3094675  ┆ Female ┆ 23  ┆ 1             ┆ … ┆ 48419.0       ┆ 152.0         ┆ 155     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

## GroupBy.max

In [24]:
insurance_df.group_by("Vehicle_Age").max()

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────┬───┬────────────────┬────────────────┬─────────┬──────────┐
│ Vehicle_Age ┆ id       ┆ Gender ┆ Age ┆ … ┆ Annual_Premium ┆ Policy_Sales_C ┆ Vintage ┆ Response │
│ ---         ┆ ---      ┆ ---    ┆ --- ┆   ┆ ---            ┆ hannel         ┆ ---     ┆ ---      │
│ str         ┆ i64      ┆ str    ┆ i64 ┆   ┆ f64            ┆ ---            ┆ i64     ┆ i64      │
│             ┆          ┆        ┆     ┆   ┆                ┆ f64            ┆         ┆          │
╞═════════════╪══════════╪════════╪═════╪═══╪════════════════╪════════════════╪═════════╪══════════╡
│ 1-2 Year    ┆ 11504796 ┆ Male   ┆ 85  ┆ … ┆ 540165.0       ┆ 163.0          ┆ 299     ┆ 1        │
│ < 1 Year    ┆ 11504797 ┆ Male   ┆ 80  ┆ … ┆ 540165.0       ┆ 163.0          ┆ 299     ┆ 1        │
│ > 2 Years   ┆ 11504757 ┆ Male   ┆ 83  ┆ … ┆ 540165.0       ┆ 163.0          ┆ 299     ┆ 1        │
└─────────────┴──────────┴────────┴─────┴───┴────────────────┴────────────────┴─────────┴──────────┘

## GroupBy.mean

In [26]:
insurance_df.group_by("Vehicle_Age").mean()

shape: (3, 12)
┌────────────┬──────────┬────────┬───────────┬───┬────────────┬────────────┬────────────┬──────────┐
│ Vehicle_Ag ┆ id       ┆ Gender ┆ Age       ┆ … ┆ Annual_Pre ┆ Policy_Sal ┆ Vintage    ┆ Response │
│ e          ┆ ---      ┆ ---    ┆ ---       ┆   ┆ mium       ┆ es_Channel ┆ ---        ┆ ---      │
│ ---        ┆ f64      ┆ str    ┆ f64       ┆   ┆ ---        ┆ ---        ┆ f64        ┆ f64      │
│ str        ┆          ┆        ┆           ┆   ┆ f64        ┆ f64        ┆            ┆          │
╞════════════╪══════════╪════════╪═══════════╪═══╪════════════╪════════════╪════════════╪══════════╡
│ 1-2 Year   ┆ 5.7517e6 ┆ null   ┆ 48.596603 ┆ … ┆ 30267.6793 ┆ 85.636195  ┆ 162.55257  ┆ 0.177725 │
│            ┆          ┆        ┆           ┆   ┆ 59         ┆            ┆            ┆          │
│ < 1 Year   ┆ 5.7528e6 ┆ null   ┆ 24.76273  ┆ … ┆ 30277.7934 ┆ 147.873093 ┆ 165.628919 ┆ 0.041404 │
│            ┆          ┆        ┆           ┆   ┆ 41         ┆            ┆            ┆          │
│ > 2 Years  ┆ 5.7574e6 ┆ null   ┆ 54.292622 ┆ … ┆ 34823.0630 ┆ 73.654264  ┆ 162.465547 ┆ 0.299049 │
│            ┆          ┆        ┆           ┆   ┆ 62         ┆            ┆            ┆          │
└────────────┴──────────┴────────┴───────────┴───┴────────────┴────────────┴────────────┴──────────┘

## GroupBy.median

In [28]:
insurance_df.group_by("Vehicle_Age").median()

shape: (3, 12)
┌─────────────┬────────────┬────────┬──────┬───┬───────────────┬──────────────┬─────────┬──────────┐
│ Vehicle_Age ┆ id         ┆ Gender ┆ Age  ┆ … ┆ Annual_Premiu ┆ Policy_Sales ┆ Vintage ┆ Response │
│ ---         ┆ ---        ┆ ---    ┆ ---  ┆   ┆ m             ┆ _Channel     ┆ ---     ┆ ---      │
│ str         ┆ f64        ┆ str    ┆ f64  ┆   ┆ ---           ┆ ---          ┆ f64     ┆ f64      │
│             ┆            ┆        ┆      ┆   ┆ f64           ┆ f64          ┆         ┆          │
╞═════════════╪════════════╪════════╪══════╪═══╪═══════════════╪══════════════╪═════════╪══════════╡
│ > 2 Years   ┆ 5.75601e6  ┆ null   ┆ 53.0 ┆ … ┆ 38371.0       ┆ 26.0         ┆ 165.0   ┆ 0.0      │
│ 1-2 Year    ┆ 5751429.5  ┆ null   ┆ 47.0 ┆ … ┆ 32965.0       ┆ 124.0        ┆ 164.0   ┆ 0.0      │
│ < 1 Year    ┆ 5.753184e6 ┆ null   ┆ 24.0 ┆ … ┆ 30596.0       ┆ 152.0        ┆ 170.0   ┆ 0.0      │
└─────────────┴────────────┴────────┴──────┴───┴───────────────┴──────────────┴─────────┴──────────┘

## GroupBy.min

In [29]:
insurance_df.group_by("Vehicle_Age").min()

shape: (3, 12)
┌─────────────┬─────┬────────┬─────┬───┬────────────────┬─────────────────────┬─────────┬──────────┐
│ Vehicle_Age ┆ id  ┆ Gender ┆ Age ┆ … ┆ Annual_Premium ┆ Policy_Sales_Channe ┆ Vintage ┆ Response │
│ ---         ┆ --- ┆ ---    ┆ --- ┆   ┆ ---            ┆ l                   ┆ ---     ┆ ---      │
│ str         ┆ i64 ┆ str    ┆ i64 ┆   ┆ f64            ┆ ---                 ┆ i64     ┆ i64      │
│             ┆     ┆        ┆     ┆   ┆                ┆ f64                 ┆         ┆          │
╞═════════════╪═════╪════════╪═════╪═══╪════════════════╪═════════════════════╪═════════╪══════════╡
│ > 2 Years   ┆ 1   ┆ Female ┆ 20  ┆ … ┆ 2630.0         ┆ 1.0                 ┆ 10      ┆ 0        │
│ < 1 Year    ┆ 2   ┆ Female ┆ 20  ┆ … ┆ 2630.0         ┆ 1.0                 ┆ 10      ┆ 0        │
│ 1-2 Year    ┆ 0   ┆ Female ┆ 20  ┆ … ┆ 2630.0         ┆ 1.0                 ┆ 10      ┆ 0        │
└─────────────┴─────┴────────┴─────┴───┴────────────────┴─────────────────────┴─────────┴──────────┘

## GroupBy.n_unique

In [30]:
insurance_df.group_by("Vehicle_Age").n_unique()

shape: (3, 12)
┌─────────────┬─────────┬────────┬─────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ Vehicle_Age ┆ id      ┆ Gender ┆ Age ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ ---         ┆ ---     ┆ ---    ┆ --- ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ str         ┆ u32     ┆ u32    ┆ u32 ┆   ┆ u32            ┆ ---             ┆ u32     ┆ u32      │
│             ┆         ┆        ┆     ┆   ┆                ┆ u32             ┆         ┆          │
╞═════════════╪═════════╪════════╪═════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ > 2 Years   ┆ 477975  ┆ 2      ┆ 64  ┆ … ┆ 32053          ┆ 137             ┆ 290     ┆ 2        │
│ 1-2 Year    ┆ 5982678 ┆ 2      ┆ 66  ┆ … ┆ 47552          ┆ 150             ┆ 290     ┆ 2        │
│ < 1 Year    ┆ 5044145 ┆ 2      ┆ 61  ┆ … ┆ 44962          ┆ 99              ┆ 290     ┆ 2        │
└─────────────┴─────────┴────────┴─────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

## GroupBy.quantile

In [31]:
insurance_df.group_by("Vehicle_Age").quantile(1)

shape: (3, 12)
┌─────────────┬─────────────┬────────┬──────┬───┬──────────────┬──────────────┬─────────┬──────────┐
│ Vehicle_Age ┆ id          ┆ Gender ┆ Age  ┆ … ┆ Annual_Premi ┆ Policy_Sales ┆ Vintage ┆ Response │
│ ---         ┆ ---         ┆ ---    ┆ ---  ┆   ┆ um           ┆ _Channel     ┆ ---     ┆ ---      │
│ str         ┆ f64         ┆ str    ┆ f64  ┆   ┆ ---          ┆ ---          ┆ f64     ┆ f64      │
│             ┆             ┆        ┆      ┆   ┆ f64          ┆ f64          ┆         ┆          │
╞═════════════╪═════════════╪════════╪══════╪═══╪══════════════╪══════════════╪═════════╪══════════╡
│ > 2 Years   ┆ 1.1504757e7 ┆ null   ┆ 83.0 ┆ … ┆ 540165.0     ┆ 163.0        ┆ 299.0   ┆ 1.0      │
│ < 1 Year    ┆ 1.1504797e7 ┆ null   ┆ 80.0 ┆ … ┆ 540165.0     ┆ 163.0        ┆ 299.0   ┆ 1.0      │
│ 1-2 Year    ┆ 1.1504796e7 ┆ null   ┆ 85.0 ┆ … ┆ 540165.0     ┆ 163.0        ┆ 299.0   ┆ 1.0      │
└─────────────┴─────────────┴────────┴──────┴───┴──────────────┴──────────────┴─────────┴──────────┘

## GroupBy.sum

In [32]:
insurance_df.group_by("Vehicle_Age").sum()

shape: (3, 12)
┌────────────┬────────────┬────────┬───────────┬───┬────────────┬───────────┬───────────┬──────────┐
│ Vehicle_Ag ┆ id         ┆ Gender ┆ Age       ┆ … ┆ Annual_Pre ┆ Policy_Sa ┆ Vintage   ┆ Response │
│ e          ┆ ---        ┆ ---    ┆ ---       ┆   ┆ mium       ┆ les_Chann ┆ ---       ┆ ---      │
│ ---        ┆ i64        ┆ str    ┆ i64       ┆   ┆ ---        ┆ el        ┆ i64       ┆ i64      │
│ str        ┆            ┆        ┆           ┆   ┆ f64        ┆ ---       ┆           ┆          │
│            ┆            ┆        ┆           ┆   ┆            ┆ f64       ┆           ┆          │
╞════════════╪════════════╪════════╪═══════════╪═══╪════════════╪═══════════╪═══════════╪══════════╡
│ > 2 Years  ┆ 2751896419 ┆ null   ┆ 25950516  ┆ … ┆ 1.6645e10  ┆ 3.5204897 ┆ 77654470  ┆ 142938   │
│            ┆ 449        ┆        ┆           ┆   ┆            ┆ e7        ┆           ┆          │
│ < 1 Year   ┆ 2901778079 ┆ null   ┆ 124906801 ┆ … ┆ 1.5273e11  ┆ 7.4589332 ┆ 835456283 ┆ 208849   │
│            ┆ 3275       ┆        ┆           ┆   ┆            ┆ 4e8       ┆           ┆          │
│ 1-2 Year   ┆ 3441050554 ┆ null   ┆ 290737826 ┆ … ┆ 1.8108e11  ┆ 5.1233377 ┆ 972499683 ┆ 1063272  │
│            ┆ 5279       ┆        ┆           ┆   ┆            ┆ 8e8       ┆           ┆          │
└────────────┴────────────┴────────┴───────────┴───┴────────────┴───────────┴───────────┴──────────┘

## GroupBy.tail

In [33]:
insurance_df.group_by("Vehicle_Age").tail(3).sort("Vehicle_Age")

shape: (9, 12)
┌─────────────┬──────────┬────────┬─────┬───┬────────────────┬────────────────┬─────────┬──────────┐
│ Vehicle_Age ┆ id       ┆ Gender ┆ Age ┆ … ┆ Annual_Premium ┆ Policy_Sales_C ┆ Vintage ┆ Response │
│ ---         ┆ ---      ┆ ---    ┆ --- ┆   ┆ ---            ┆ hannel         ┆ ---     ┆ ---      │
│ str         ┆ i64      ┆ str    ┆ i64 ┆   ┆ f64            ┆ ---            ┆ i64     ┆ i64      │
│             ┆          ┆        ┆     ┆   ┆                ┆ f64            ┆         ┆          │
╞═════════════╪══════════╪════════╪═════╪═══╪════════════════╪════════════════╪═════════╪══════════╡
│ 1-2 Year    ┆ 11504792 ┆ Male   ┆ 34  ┆ … ┆ 29974.0        ┆ 154.0          ┆ 201     ┆ 0        │
│ 1-2 Year    ┆ 11504793 ┆ Male   ┆ 48  ┆ … ┆ 27412.0        ┆ 26.0           ┆ 218     ┆ 0        │
│ 1-2 Year    ┆ 11504796 ┆ Female ┆ 51  ┆ … ┆ 48443.0        ┆ 26.0           ┆ 274     ┆ 1        │
│ < 1 Year    ┆ 11504794 ┆ Female ┆ 26  ┆ … ┆ 29509.0        ┆ 152.0          ┆ 115     ┆ 1        │
│ < 1 Year    ┆ 11504795 ┆ Female ┆ 29  ┆ … ┆ 2630.0         ┆ 152.0          ┆ 189     ┆ 0        │
│ < 1 Year    ┆ 11504797 ┆ Male   ┆ 25  ┆ … ┆ 32855.0        ┆ 152.0          ┆ 189     ┆ 0        │
│ > 2 Years   ┆ 11504735 ┆ Male   ┆ 50  ┆ … ┆ 49616.0        ┆ 124.0          ┆ 129     ┆ 0        │
│ > 2 Years   ┆ 11504754 ┆ Male   ┆ 58  ┆ … ┆ 35992.0        ┆ 26.0           ┆ 197     ┆ 0        │
│ > 2 Years   ┆ 11504757 ┆ Female ┆ 57  ┆ … ┆ 69344.0        ┆ 122.0          ┆ 163     ┆ 0        │
└─────────────┴──────────┴────────┴─────┴───┴────────────────┴────────────────┴─────────┴──────────┘

## Manipulation/Selection Method

In [34]:
# polars.DataFrame.bottom_k

insurance_df.bottom_k(4,by="Age")

shape: (4, 12)
┌─────────┬────────┬─────┬────────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id      ┆ Gender ┆ Age ┆ Driving_Licens ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---     ┆ ---    ┆ --- ┆ e              ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64     ┆ str    ┆ i64 ┆ ---            ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│         ┆        ┆     ┆ i64            ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞═════════╪════════╪═════╪════════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 6583548 ┆ Female ┆ 20  ┆ 1              ┆ … ┆ 31518.0       ┆ 160.0         ┆ 207     ┆ 0        │
│ 242     ┆ Female ┆ 20  ┆ 1              ┆ … ┆ 36090.0       ┆ 160.0         ┆ 54      ┆ 0        │
│ 269     ┆ Male   ┆ 20  ┆ 1              ┆ … ┆ 2630.0        ┆ 160.0         ┆ 100     ┆ 0        │
│ 338     ┆ Female ┆ 20  ┆ 1              ┆ … ┆ 28783.0       ┆ 160.0         ┆ 199     ┆ 0        │
└─────────┴────────┴─────┴────────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [37]:
insurance_df.bottom_k(4,by="Vintage")

shape: (4, 12)
┌─────────┬────────┬─────┬────────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id      ┆ Gender ┆ Age ┆ Driving_Licens ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---     ┆ ---    ┆ --- ┆ e              ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64     ┆ str    ┆ i64 ┆ ---            ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│         ┆        ┆     ┆ i64            ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞═════════╪════════╪═════╪════════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 6566211 ┆ Female ┆ 57  ┆ 1              ┆ … ┆ 2630.0        ┆ 26.0          ┆ 10      ┆ 0        │
│ 518     ┆ Male   ┆ 23  ┆ 1              ┆ … ┆ 35538.0       ┆ 152.0         ┆ 10      ┆ 0        │
│ 864     ┆ Male   ┆ 20  ┆ 1              ┆ … ┆ 41945.0       ┆ 160.0         ┆ 10      ┆ 0        │
│ 1083    ┆ Male   ┆ 46  ┆ 1              ┆ … ┆ 28697.0       ┆ 124.0         ┆ 10      ┆ 0        │
└─────────┴────────┴─────┴────────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [38]:
# polars.DataFrame.cast

insurance_df.cast({"Region_Code":pl.String,"Driving_License":pl.Float32})

shape: (11_504_798, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ f32           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1.0           ┆ … ┆ 65101.0       ┆ 124.0         ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1.0           ┆ … ┆ 58911.0       ┆ 26.0          ┆ 288     ┆ 1        │
│ 2        ┆ Female ┆ 25  ┆ 1.0           ┆ … ┆ 38043.0       ┆ 152.0         ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1.0           ┆ … ┆ 2630.0        ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1.0           ┆ … ┆ 31951.0       ┆ 152.0         ┆ 294     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1.0           ┆ … ┆ 27412.0       ┆ 26.0          ┆ 218     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1.0           ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1.0           ┆ … ┆ 2630.0        ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1.0           ┆ … ┆ 48443.0       ┆ 26.0          ┆ 274     ┆ 1        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1.0           ┆ … ┆ 32855.0       ┆ 152.0         ┆ 189     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [39]:
# polars.DataFrame.clear
df_clear = insurance_df.clear()

In [40]:
df_clear

shape: (0, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

In [41]:
# polars.DataFrame.clone

df_clone = insurance_df.clone()

In [42]:
df_clone

shape: (11_504_798, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1             ┆ … ┆ 65101.0       ┆ 124.0         ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1             ┆ … ┆ 58911.0       ┆ 26.0          ┆ 288     ┆ 1        │
│ 2        ┆ Female ┆ 25  ┆ 1             ┆ … ┆ 38043.0       ┆ 152.0         ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1             ┆ … ┆ 2630.0        ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 31951.0       ┆ 152.0         ┆ 294     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1             ┆ … ┆ 27412.0       ┆ 26.0          ┆ 218     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1             ┆ … ┆ 48443.0       ┆ 26.0          ┆ 274     ┆ 1        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1             ┆ … ┆ 32855.0       ┆ 152.0         ┆ 189     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [43]:
# polars.DataFrame.drop

df_clone.drop("id")

shape: (11_504_798, 11)
┌────────┬─────┬──────────────┬─────────────┬───┬──────────────┬──────────────┬─────────┬──────────┐
│ Gender ┆ Age ┆ Driving_Lice ┆ Region_Code ┆ … ┆ Annual_Premi ┆ Policy_Sales ┆ Vintage ┆ Response │
│ ---    ┆ --- ┆ nse          ┆ ---         ┆   ┆ um           ┆ _Channel     ┆ ---     ┆ ---      │
│ str    ┆ i64 ┆ ---          ┆ f64         ┆   ┆ ---          ┆ ---          ┆ i64     ┆ i64      │
│        ┆     ┆ i64          ┆             ┆   ┆ f64          ┆ f64          ┆         ┆          │
╞════════╪═════╪══════════════╪═════════════╪═══╪══════════════╪══════════════╪═════════╪══════════╡
│ Male   ┆ 21  ┆ 1            ┆ 35.0        ┆ … ┆ 65101.0      ┆ 124.0        ┆ 187     ┆ 0        │
│ Male   ┆ 43  ┆ 1            ┆ 28.0        ┆ … ┆ 58911.0      ┆ 26.0         ┆ 288     ┆ 1        │
│ Female ┆ 25  ┆ 1            ┆ 14.0        ┆ … ┆ 38043.0      ┆ 152.0        ┆ 254     ┆ 0        │
│ Female ┆ 35  ┆ 1            ┆ 1.0         ┆ … ┆ 2630.0       ┆ 156.0        ┆ 76      ┆ 0        │
│ Female ┆ 36  ┆ 1            ┆ 15.0        ┆ … ┆ 31951.0      ┆ 152.0        ┆ 294     ┆ 0        │
│ …      ┆ …   ┆ …            ┆ …           ┆ … ┆ …            ┆ …            ┆ …       ┆ …        │
│ Male   ┆ 48  ┆ 1            ┆ 6.0         ┆ … ┆ 27412.0      ┆ 26.0         ┆ 218     ┆ 0        │
│ Female ┆ 26  ┆ 1            ┆ 36.0        ┆ … ┆ 29509.0      ┆ 152.0        ┆ 115     ┆ 1        │
│ Female ┆ 29  ┆ 1            ┆ 32.0        ┆ … ┆ 2630.0       ┆ 152.0        ┆ 189     ┆ 0        │
│ Female ┆ 51  ┆ 1            ┆ 28.0        ┆ … ┆ 48443.0      ┆ 26.0         ┆ 274     ┆ 1        │
│ Male   ┆ 25  ┆ 1            ┆ 28.0        ┆ … ┆ 32855.0      ┆ 152.0        ┆ 189     ┆ 0        │
└────────┴─────┴──────────────┴─────────────┴───┴──────────────┴──────────────┴─────────┴──────────┘

In [44]:
df_clone.drop(["Region_Code","Vintage"])

shape: (11_504_798, 10)
┌──────────┬────────┬─────┬──────────────┬───┬──────────────┬─────────────┬─────────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Lice ┆ … ┆ Vehicle_Dama ┆ Annual_Prem ┆ Policy_Sale ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ nse          ┆   ┆ ge           ┆ ium         ┆ s_Channel   ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---          ┆   ┆ ---          ┆ ---         ┆ ---         ┆ i64      │
│          ┆        ┆     ┆ i64          ┆   ┆ str          ┆ f64         ┆ f64         ┆          │
╞══════════╪════════╪═════╪══════════════╪═══╪══════════════╪═════════════╪═════════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1            ┆ … ┆ Yes          ┆ 65101.0     ┆ 124.0       ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1            ┆ … ┆ Yes          ┆ 58911.0     ┆ 26.0        ┆ 1        │
│ 2        ┆ Female ┆ 25  ┆ 1            ┆ … ┆ No           ┆ 38043.0     ┆ 152.0       ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1            ┆ … ┆ Yes          ┆ 2630.0      ┆ 156.0       ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1            ┆ … ┆ No           ┆ 31951.0     ┆ 152.0       ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …            ┆ … ┆ …            ┆ …           ┆ …           ┆ …        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1            ┆ … ┆ Yes          ┆ 27412.0     ┆ 26.0        ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1            ┆ … ┆ Yes          ┆ 29509.0     ┆ 152.0       ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1            ┆ … ┆ No           ┆ 2630.0      ┆ 152.0       ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1            ┆ … ┆ Yes          ┆ 48443.0     ┆ 26.0        ┆ 1        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1            ┆ … ┆ No           ┆ 32855.0     ┆ 152.0       ┆ 0        │
└──────────┴────────┴─────┴──────────────┴───┴──────────────┴─────────────┴─────────────┴──────────┘

In [45]:
# polars.DataFrame.drop_in_place

df_clone.drop_in_place("Driving_License")

shape: (11_504_798,)
Series: 'Driving_License' [i64]
[
	1
	1
	1
	1
	1
	…
	1
	1
	1
	1
	1
]

In [47]:
# polars.DataFrame.drop_nulls

insurance_df.drop_nulls()

shape: (11_504_798, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1             ┆ … ┆ 65101.0       ┆ 124.0         ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1             ┆ … ┆ 58911.0       ┆ 26.0          ┆ 288     ┆ 1        │
│ 2        ┆ Female ┆ 25  ┆ 1             ┆ … ┆ 38043.0       ┆ 152.0         ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1             ┆ … ┆ 2630.0        ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 31951.0       ┆ 152.0         ┆ 294     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1             ┆ … ┆ 27412.0       ┆ 26.0          ┆ 218     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1             ┆ … ┆ 48443.0       ┆ 26.0          ┆ 274     ┆ 1        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1             ┆ … ┆ 32855.0       ┆ 152.0         ┆ 189     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [49]:
## polars.DataFrame.explode

df_new = pl.DataFrame(
    {
    "Countries" : ["INDIA","INDIA","AUSTRALIA","ENGLAND"],
    "Ranking" : [[1],[2,3],[4,5],[6,7,8]],
}
)

df_new.explode("Ranking")

shape: (8, 2)
┌───────────┬─────────┐
│ Countries ┆ Ranking │
│ ---       ┆ ---     │
│ str       ┆ i64     │
╞═══════════╪═════════╡
│ INDIA     ┆ 1       │
│ INDIA     ┆ 2       │
│ INDIA     ┆ 3       │
│ AUSTRALIA ┆ 4       │
│ AUSTRALIA ┆ 5       │
│ ENGLAND   ┆ 6       │
│ ENGLAND   ┆ 7       │
│ ENGLAND   ┆ 8       │
└───────────┴─────────┘

In [51]:
# polars.DataFrame.extend
df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
}
)

df2 = pl.DataFrame(
    {
    "Countries" : ["NZ","SRILANKA","BANGLADESH","KENYA"],
    "Matches" : [35,28,30,12],
}
)
df1.extend(df2)

shape: (8, 2)
┌────────────┬─────────┐
│ Countries  ┆ Matches │
│ ---        ┆ ---     │
│ str        ┆ i64     │
╞════════════╪═════════╡
│ INDIA      ┆ 80      │
│ PAKISTAN   ┆ 42      │
│ AUSTRALIA  ┆ 55      │
│ ENGLAND    ┆ 32      │
│ NZ         ┆ 35      │
│ SRILANKA   ┆ 28      │
│ BANGLADESH ┆ 30      │
│ KENYA      ┆ 12      │
└────────────┴─────────┘

In [58]:
# polars.DataFrame.fill_nan
df = pl.DataFrame(
    {
        "Salary": [111.5, 200, float("nan"), 40],
        "Expenditure": [21.5, 40, float("nan"), 13],
    }
)
df.fill_nan(99)

shape: (4, 2)
┌────────┬─────────────┐
│ Salary ┆ Expenditure │
│ ---    ┆ ---         │
│ f64    ┆ f64         │
╞════════╪═════════════╡
│ 111.5  ┆ 21.5        │
│ 200.0  ┆ 40.0        │
│ 99.0   ┆ 99.0        │
│ 40.0   ┆ 13.0        │
└────────┴─────────────┘

In [59]:
# polars.DataFrame.fill_null

insurance_df.fill_null(strategy="max")

shape: (11_504_798, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1             ┆ … ┆ 65101.0       ┆ 124.0         ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1             ┆ … ┆ 58911.0       ┆ 26.0          ┆ 288     ┆ 1        │
│ 2        ┆ Female ┆ 25  ┆ 1             ┆ … ┆ 38043.0       ┆ 152.0         ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1             ┆ … ┆ 2630.0        ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 31951.0       ┆ 152.0         ┆ 294     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1             ┆ … ┆ 27412.0       ┆ 26.0          ┆ 218     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1             ┆ … ┆ 48443.0       ┆ 26.0          ┆ 274     ┆ 1        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1             ┆ … ┆ 32855.0       ┆ 152.0         ┆ 189     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [60]:
# polars.DataFrame.filter

insurance_df.filter(pl.col("Age") > 20)

shape: (11_332_592, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1             ┆ … ┆ 65101.0       ┆ 124.0         ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1             ┆ … ┆ 58911.0       ┆ 26.0          ┆ 288     ┆ 1        │
│ 2        ┆ Female ┆ 25  ┆ 1             ┆ … ┆ 38043.0       ┆ 152.0         ┆ 254     ┆ 0        │
│ 3        ┆ Female ┆ 35  ┆ 1             ┆ … ┆ 2630.0        ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 31951.0       ┆ 152.0         ┆ 294     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1             ┆ … ┆ 27412.0       ┆ 26.0          ┆ 218     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504796 ┆ Female ┆ 51  ┆ 1             ┆ … ┆ 48443.0       ┆ 26.0          ┆ 274     ┆ 1        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1             ┆ … ┆ 32855.0       ┆ 152.0         ┆ 189     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [63]:
insurance_df.filter((pl.col("Vehicle_Age")=="1-2 Year") | (pl.col("Vehicle_Damage")=="Yes"))

shape: (7_892_053, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 0        ┆ Male   ┆ 21  ┆ 1             ┆ … ┆ 65101.0       ┆ 124.0         ┆ 187     ┆ 0        │
│ 1        ┆ Male   ┆ 43  ┆ 1             ┆ … ┆ 58911.0       ┆ 26.0          ┆ 288     ┆ 1        │
│ 3        ┆ Female ┆ 35  ┆ 1             ┆ … ┆ 2630.0        ┆ 156.0         ┆ 76      ┆ 0        │
│ 4        ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 31951.0       ┆ 152.0         ┆ 294     ┆ 0        │
│ 7        ┆ Female ┆ 47  ┆ 1             ┆ … ┆ 40659.0       ┆ 26.0          ┆ 262     ┆ 1        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504788 ┆ Male   ┆ 66  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 74      ┆ 0        │
│ 11504792 ┆ Male   ┆ 34  ┆ 1             ┆ … ┆ 29974.0       ┆ 154.0         ┆ 201     ┆ 0        │
│ 11504793 ┆ Male   ┆ 48  ┆ 1             ┆ … ┆ 27412.0       ┆ 26.0          ┆ 218     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504796 ┆ Female ┆ 51  ┆ 1             ┆ … ┆ 48443.0       ┆ 26.0          ┆ 274     ┆ 1        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [65]:
# polars.DataFrame.get_column

insurance_df.get_column("Annual_Premium")

shape: (11_504_798,)
Series: 'Annual_Premium' [f64]
[
	65101.0
	58911.0
	38043.0
	2630.0
	31951.0
	…
	27412.0
	29509.0
	2630.0
	48443.0
	32855.0
]

In [66]:
# polars.DataFrame.get_column_index
insurance_df.get_column_index("Annual_Premium")

8

In [67]:
# polars.DataFrame.get_columns

insurance_df.get_columns()

[shape: (11_504_798,)
 Series: 'id' [i64]
 [
 	0
 	1
 	2
 	3
 	4
 	…
 	11504793
 	11504794
 	11504795
 	11504796
 	11504797
 ],
 shape: (11_504_798,)
 Series: 'Gender' [str]
 [
 	"Male"
 	"Male"
 	"Female"
 	"Female"
 	"Female"
 	…
 	"Male"
 	"Female"
 	"Female"
 	"Female"
 	"Male"
 ],
 shape: (11_504_798,)
 Series: 'Age' [i64]
 [
 	21
 	43
 	25
 	35
 	36
 	…
 	48
 	26
 	29
 	51
 	25
 ],
 shape: (11_504_798,)
 Series: 'Driving_License' [i64]
 [
 	1
 	1
 	1
 	1
 	1
 	…
 	1
 	1
 	1
 	1
 	1
 ],
 shape: (11_504_798,)
 Series: 'Region_Code' [f64]
 [
 	35.0
 	28.0
 	14.0
 	1.0
 	15.0
 	…
 	6.0
 	36.0
 	32.0
 	28.0
 	28.0
 ],
 shape: (11_504_798,)
 Series: 'Previously_Insured' [i64]
 [
 	0
 	0
 	1
 	0
 	1
 	…
 	0
 	0
 	1
 	0
 	1
 ],
 shape: (11_504_798,)
 Series: 'Vehicle_Age' [str]
 [
 	"1-2 Year"
 	"> 2 Years"
 	"< 1 Year"
 	"1-2 Year"
 	"1-2 Year"
 	…
 	"1-2 Year"
 	"< 1 Year"
 	"< 1 Year"
 	"1-2 Year"
 	"< 1 Year"
 ],
 shape: (11_504_798,)
 Series: 'Vehicle_Damage' [str]
 [
 	"Yes"
 	"Yes"
 	"No"
 	"Yes"
 	"No"
 	…
 	"Yes"
 	"Yes"
 	"No"
 	"Yes"
 	"No"
 ],
 shape: (11_504_798,)
 Series: 'Annual_Premium' [f64]
 [
 	65101.0
 	58911.0
 	38043.0
 	2630.0
 	31951.0
 	…
 	27412.0
 	29509.0
 	2630.0
 	48443.0
 	32855.0
 ],
 shape: (11_504_798,)
 Series: 'Policy_Sales_Channel' [f64]
 [
 	124.0
 	26.0
 	152.0
 	156.0
 	152.0
 	…
 	26.0
 	152.0
 	152.0
 	26.0
 	152.0
 ],
 shape: (11_504_798,)
 Series: 'Vintage' [i64]
 [
 	187
 	288
 	254
 	76
 	294
 	…
 	218
 	115
 	189
 	274
 	189
 ],
 shape: (11_504_798,)
 Series: 'Response' [i64]
 [
 	0
 	1
 	0
 	0
 	0
 	…
 	0
 	1
 	0
 	1
 	0
 ]]

In [69]:
# polars.DataFrame.hstack
df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
}
)

ranking = pl.Series("ranking",[1,8,2,4])
df1.hstack([ranking])

shape: (4, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ INDIA     ┆ 80      ┆ 1       │
│ PAKISTAN  ┆ 42      ┆ 8       │
│ AUSTRALIA ┆ 55      ┆ 2       │
│ ENGLAND   ┆ 32      ┆ 4       │
└───────────┴─────────┴─────────┘

In [71]:
# polars.DataFrame.insert_column

df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
}
)
ranking = pl.Series("ranking",[1,8,2,4])
df1.insert_column(2,ranking)

shape: (4, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ INDIA     ┆ 80      ┆ 1       │
│ PAKISTAN  ┆ 42      ┆ 8       │
│ AUSTRALIA ┆ 55      ┆ 2       │
│ ENGLAND   ┆ 32      ┆ 4       │
└───────────┴─────────┴─────────┘

In [72]:
# polars.DataFrame.interpolate

insurance_df.interpolate()

shape: (11_504_798, 12)
┌─────────────┬────────┬──────┬──────────────┬───┬──────────────┬─────────────┬─────────┬──────────┐
│ id          ┆ Gender ┆ Age  ┆ Driving_Lice ┆ … ┆ Annual_Premi ┆ Policy_Sale ┆ Vintage ┆ Response │
│ ---         ┆ ---    ┆ ---  ┆ nse          ┆   ┆ um           ┆ s_Channel   ┆ ---     ┆ ---      │
│ f64         ┆ str    ┆ f64  ┆ ---          ┆   ┆ ---          ┆ ---         ┆ f64     ┆ f64      │
│             ┆        ┆      ┆ f64          ┆   ┆ f64          ┆ f64         ┆         ┆          │
╞═════════════╪════════╪══════╪══════════════╪═══╪══════════════╪═════════════╪═════════╪══════════╡
│ 0.0         ┆ Male   ┆ 21.0 ┆ 1.0          ┆ … ┆ 65101.0      ┆ 124.0       ┆ 187.0   ┆ 0.0      │
│ 1.0         ┆ Male   ┆ 43.0 ┆ 1.0          ┆ … ┆ 58911.0      ┆ 26.0        ┆ 288.0   ┆ 1.0      │
│ 2.0         ┆ Female ┆ 25.0 ┆ 1.0          ┆ … ┆ 38043.0      ┆ 152.0       ┆ 254.0   ┆ 0.0      │
│ 3.0         ┆ Female ┆ 35.0 ┆ 1.0          ┆ … ┆ 2630.0       ┆ 156.0       ┆ 76.0    ┆ 0.0      │
│ 4.0         ┆ Female ┆ 36.0 ┆ 1.0          ┆ … ┆ 31951.0      ┆ 152.0       ┆ 294.0   ┆ 0.0      │
│ …           ┆ …      ┆ …    ┆ …            ┆ … ┆ …            ┆ …           ┆ …       ┆ …        │
│ 1.1504793e7 ┆ Male   ┆ 48.0 ┆ 1.0          ┆ … ┆ 27412.0      ┆ 26.0        ┆ 218.0   ┆ 0.0      │
│ 1.1504794e7 ┆ Female ┆ 26.0 ┆ 1.0          ┆ … ┆ 29509.0      ┆ 152.0       ┆ 115.0   ┆ 1.0      │
│ 1.1504795e7 ┆ Female ┆ 29.0 ┆ 1.0          ┆ … ┆ 2630.0       ┆ 152.0       ┆ 189.0   ┆ 0.0      │
│ 1.1504796e7 ┆ Female ┆ 51.0 ┆ 1.0          ┆ … ┆ 48443.0      ┆ 26.0        ┆ 274.0   ┆ 1.0      │
│ 1.1504797e7 ┆ Male   ┆ 25.0 ┆ 1.0          ┆ … ┆ 32855.0      ┆ 152.0       ┆ 189.0   ┆ 0.0      │
└─────────────┴────────┴──────┴──────────────┴───┴──────────────┴─────────────┴─────────┴──────────┘

In [73]:
# polars.DataFrame.item

insurance_df.item(47,7)

'Yes'

In [74]:
# polars.DataFrame.iter_columns

[s.name for s in insurance_df.iter_columns()]

['id',
 'Gender',
 'Age',
 'Driving_License',
 'Region_Code',
 'Previously_Insured',
 'Vehicle_Age',
 'Vehicle_Damage',
 'Annual_Premium',
 'Policy_Sales_Channel',
 'Vintage',
 'Response']

In [75]:
# polars.DataFrame.iter_rows
df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
}
)

[row[0] for row in df1.iter_rows()]

['INDIA', 'PAKISTAN', 'AUSTRALIA', 'ENGLAND']

In [77]:
[row["Matches"] for row in df1.iter_rows(named=True)]

[80, 42, 55, 32]

In [ ]:
# polars.DataFrame.iter_slices

# for idx, frame in enumerate(insurance_df.iter_slices()):
    # print(f"{type(frame).__name__}:[{idx}]:{len(frame)}")

In [84]:
# polars.DataFrame.join

df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
    "Ranking" : [1,2,7,6]
}
)

df2 = pl.DataFrame(
    {
        "win" :[20,31,12,9],
        "Countries" : ["INDIA","AUSTRALIA","NL","SA"]
    }
)

In [85]:
df1.join(df2, on="Countries", how="full")

shape: (6, 5)
┌───────────┬─────────┬─────────┬──────┬─────────────────┐
│ Countries ┆ Matches ┆ Ranking ┆ win  ┆ Countries_right │
│ ---       ┆ ---     ┆ ---     ┆ ---  ┆ ---             │
│ str       ┆ i64     ┆ i64     ┆ i64  ┆ str             │
╞═══════════╪═════════╪═════════╪══════╪═════════════════╡
│ INDIA     ┆ 80      ┆ 1       ┆ 20   ┆ INDIA           │
│ AUSTRALIA ┆ 55      ┆ 7       ┆ 31   ┆ AUSTRALIA       │
│ null      ┆ null    ┆ null    ┆ 12   ┆ NL              │
│ null      ┆ null    ┆ null    ┆ 9    ┆ SA              │
│ ENGLAND   ┆ 32      ┆ 6       ┆ null ┆ null            │
│ PAKISTAN  ┆ 42      ┆ 2       ┆ null ┆ null            │
└───────────┴─────────┴─────────┴──────┴─────────────────┘

In [86]:
df1.join(df2, on="Countries", how="left",coalesce=True)

shape: (4, 4)
┌───────────┬─────────┬─────────┬──────┐
│ Countries ┆ Matches ┆ Ranking ┆ win  │
│ ---       ┆ ---     ┆ ---     ┆ ---  │
│ str       ┆ i64     ┆ i64     ┆ i64  │
╞═══════════╪═════════╪═════════╪══════╡
│ INDIA     ┆ 80      ┆ 1       ┆ 20   │
│ PAKISTAN  ┆ 42      ┆ 2       ┆ null │
│ AUSTRALIA ┆ 55      ┆ 7       ┆ 31   │
│ ENGLAND   ┆ 32      ┆ 6       ┆ null │
└───────────┴─────────┴─────────┴──────┘

In [87]:
df1.join(df2, on="Countries", how="right",coalesce=True)

shape: (4, 4)
┌─────────┬─────────┬─────┬───────────┐
│ Matches ┆ Ranking ┆ win ┆ Countries │
│ ---     ┆ ---     ┆ --- ┆ ---       │
│ i64     ┆ i64     ┆ i64 ┆ str       │
╞═════════╪═════════╪═════╪═══════════╡
│ 80      ┆ 1       ┆ 20  ┆ INDIA     │
│ 55      ┆ 7       ┆ 31  ┆ AUSTRALIA │
│ null    ┆ null    ┆ 12  ┆ NL        │
│ null    ┆ null    ┆ 9   ┆ SA        │
└─────────┴─────────┴─────┴───────────┘

In [88]:
df1.join(df2, on="Countries", how="semi",coalesce=True)

shape: (2, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ INDIA     ┆ 80      ┆ 1       │
│ AUSTRALIA ┆ 55      ┆ 7       │
└───────────┴─────────┴─────────┘

In [89]:
df1.join(df2, on="Countries", how="anti",coalesce=True)

shape: (2, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ PAKISTAN  ┆ 42      ┆ 2       │
│ ENGLAND   ┆ 32      ┆ 6       │
└───────────┴─────────┴─────────┘

In [90]:
# polars.DataFrame.limit

insurance_df.limit(10)

shape: (10, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 0   ┆ Male   ┆ 21  ┆ 1               ┆ … ┆ 65101.0        ┆ 124.0           ┆ 187     ┆ 0        │
│ 1   ┆ Male   ┆ 43  ┆ 1               ┆ … ┆ 58911.0        ┆ 26.0            ┆ 288     ┆ 1        │
│ 2   ┆ Female ┆ 25  ┆ 1               ┆ … ┆ 38043.0        ┆ 152.0           ┆ 254     ┆ 0        │
│ 3   ┆ Female ┆ 35  ┆ 1               ┆ … ┆ 2630.0         ┆ 156.0           ┆ 76      ┆ 0        │
│ 4   ┆ Female ┆ 36  ┆ 1               ┆ … ┆ 31951.0        ┆ 152.0           ┆ 294     ┆ 0        │
│ 5   ┆ Female ┆ 31  ┆ 1               ┆ … ┆ 28150.0        ┆ 152.0           ┆ 197     ┆ 0        │
│ 6   ┆ Male   ┆ 23  ┆ 1               ┆ … ┆ 27128.0        ┆ 152.0           ┆ 190     ┆ 0        │
│ 7   ┆ Female ┆ 47  ┆ 1               ┆ … ┆ 40659.0        ┆ 26.0            ┆ 262     ┆ 1        │
│ 8   ┆ Female ┆ 26  ┆ 1               ┆ … ┆ 31639.0        ┆ 152.0           ┆ 36      ┆ 0        │
│ 9   ┆ Female ┆ 66  ┆ 1               ┆ … ┆ 2630.0         ┆ 26.0            ┆ 125     ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

In [92]:
# polars.DataFrame.merge_sorted

df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
}
)

df2 = pl.DataFrame(
    {
        "Countries" : ["NL","SA"],
        "Matches" :[12,9]
    }
)
df1.merge_sorted(df2,key="Countries")

shape: (6, 2)
┌───────────┬─────────┐
│ Countries ┆ Matches │
│ ---       ┆ ---     │
│ str       ┆ i64     │
╞═══════════╪═════════╡
│ INDIA     ┆ 80      │
│ NL        ┆ 12      │
│ PAKISTAN  ┆ 42      │
│ AUSTRALIA ┆ 55      │
│ ENGLAND   ┆ 32      │
│ SA        ┆ 9       │
└───────────┴─────────┘

In [93]:
# polars.DataFrame.partition_by
df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
    "Ranking" : [1,2,7,6]
}
)
df1.partition_by("Countries")

[shape: (1, 3)
 ┌───────────┬─────────┬─────────┐
 │ Countries ┆ Matches ┆ Ranking │
 │ ---       ┆ ---     ┆ ---     │
 │ str       ┆ i64     ┆ i64     │
 ╞═══════════╪═════════╪═════════╡
 │ INDIA     ┆ 80      ┆ 1       │
 └───────────┴─────────┴─────────┘,
 shape: (1, 3)
 ┌───────────┬─────────┬─────────┐
 │ Countries ┆ Matches ┆ Ranking │
 │ ---       ┆ ---     ┆ ---     │
 │ str       ┆ i64     ┆ i64     │
 ╞═══════════╪═════════╪═════════╡
 │ PAKISTAN  ┆ 42      ┆ 2       │
 └───────────┴─────────┴─────────┘,
 shape: (1, 3)
 ┌───────────┬─────────┬─────────┐
 │ Countries ┆ Matches ┆ Ranking │
 │ ---       ┆ ---     ┆ ---     │
 │ str       ┆ i64     ┆ i64     │
 ╞═══════════╪═════════╪═════════╡
 │ AUSTRALIA ┆ 55      ┆ 7       │
 └───────────┴─────────┴─────────┘,
 shape: (1, 3)
 ┌───────────┬─────────┬─────────┐
 │ Countries ┆ Matches ┆ Ranking │
 │ ---       ┆ ---     ┆ ---     │
 │ str       ┆ i64     ┆ i64     │
 ╞═══════════╪═════════╪═════════╡
 │ ENGLAND   ┆ 32      ┆ 6       │
 └───────────┴─────────┴─────────┘]

In [94]:
# polars.DataFrame.pipe

df1.pipe(lambda tdf: tdf.select(sorted(tdf.columns)))

shape: (4, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ INDIA     ┆ 80      ┆ 1       │
│ PAKISTAN  ┆ 42      ┆ 2       │
│ AUSTRALIA ┆ 55      ┆ 7       │
│ ENGLAND   ┆ 32      ┆ 6       │
└───────────┴─────────┴─────────┘

In [95]:
df = pl.DataFrame({
    "a": [1, 2, 3, 4],
    "b": [5, 6, 7, 8]
})

# Function to add a new column
def add_new_column(df, col1, col2):
    return df.with_columns((pl.col(col1) + pl.col(col2)).alias("c"))

# Function to filter rows where the new column is greater than a threshold
def filter_rows(df, threshold):
    return df.filter(pl.col("c") > threshold)

# Chaining multiple operations
df_final = (
    df.pipe(add_new_column, "a", "b")
       .pipe(filter_rows, threshold=10)
)

print(df_final)

shape: (1, 3)
┌─────┬─────┬─────┐
│ a   ┆ b   ┆ c   │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ 4   ┆ 8   ┆ 12  │
└─────┴─────┴─────┘

In [97]:
# polars.DataFrame.pivot
insurance_df.pivot("Gender",index="id",values="Annual_Premium")

shape: (11_504_798, 3)
┌──────────┬─────────┬─────────┐
│ id       ┆ Male    ┆ Female  │
│ ---      ┆ ---     ┆ ---     │
│ i64      ┆ f64     ┆ f64     │
╞══════════╪═════════╪═════════╡
│ 0        ┆ 65101.0 ┆ null    │
│ 1        ┆ 58911.0 ┆ null    │
│ 2        ┆ null    ┆ 38043.0 │
│ 3        ┆ null    ┆ 2630.0  │
│ 4        ┆ null    ┆ 31951.0 │
│ …        ┆ …       ┆ …       │
│ 11504793 ┆ 27412.0 ┆ null    │
│ 11504794 ┆ null    ┆ 29509.0 │
│ 11504795 ┆ null    ┆ 2630.0  │
│ 11504796 ┆ null    ┆ 48443.0 │
│ 11504797 ┆ 32855.0 ┆ null    │
└──────────┴─────────┴─────────┘

In [99]:
df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
    "Ranking" : [1,2,7,6]
}
)

df1.rename({"Matches" : "Test_Matches"})

shape: (4, 3)
┌───────────┬──────────────┬─────────┐
│ Countries ┆ Test_Matches ┆ Ranking │
│ ---       ┆ ---          ┆ ---     │
│ str       ┆ i64          ┆ i64     │
╞═══════════╪══════════════╪═════════╡
│ INDIA     ┆ 80           ┆ 1       │
│ PAKISTAN  ┆ 42           ┆ 2       │
│ AUSTRALIA ┆ 55           ┆ 7       │
│ ENGLAND   ┆ 32           ┆ 6       │
└───────────┴──────────────┴─────────┘

In [100]:
df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
    "Ranking" : [1,2,7,6]
}
)
sportanship = pl.Series("sportsmanship",[10,22,34,32])
df1.replace_column(2,sportanship)

shape: (4, 3)
┌───────────┬─────────┬───────────────┐
│ Countries ┆ Matches ┆ sportsmanship │
│ ---       ┆ ---     ┆ ---           │
│ str       ┆ i64     ┆ i64           │
╞═══════════╪═════════╪═══════════════╡
│ INDIA     ┆ 80      ┆ 10            │
│ PAKISTAN  ┆ 42      ┆ 22            │
│ AUSTRALIA ┆ 55      ┆ 34            │
│ ENGLAND   ┆ 32      ┆ 32            │
└───────────┴─────────┴───────────────┘

In [101]:
# polars.DataFrame.sample

insurance_df.sample(n=10, seed=12)

shape: (10, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 10970742 ┆ Female ┆ 44  ┆ 1             ┆ … ┆ 28141.0       ┆ 124.0         ┆ 22      ┆ 0        │
│ 9161838  ┆ Male   ┆ 38  ┆ 1             ┆ … ┆ 2630.0        ┆ 160.0         ┆ 197     ┆ 0        │
│ 2604534  ┆ Male   ┆ 41  ┆ 1             ┆ … ┆ 44227.0       ┆ 124.0         ┆ 227     ┆ 0        │
│ 10266155 ┆ Female ┆ 48  ┆ 1             ┆ … ┆ 31303.0       ┆ 152.0         ┆ 150     ┆ 0        │
│ 177725   ┆ Female ┆ 27  ┆ 1             ┆ … ┆ 28317.0       ┆ 152.0         ┆ 14      ┆ 0        │
│ 4946980  ┆ Male   ┆ 67  ┆ 1             ┆ … ┆ 59513.0       ┆ 26.0          ┆ 54      ┆ 0        │
│ 10472620 ┆ Female ┆ 22  ┆ 1             ┆ … ┆ 27133.0       ┆ 152.0         ┆ 216     ┆ 0        │
│ 6555705  ┆ Male   ┆ 69  ┆ 1             ┆ … ┆ 37806.0       ┆ 122.0         ┆ 244     ┆ 0        │
│ 10116799 ┆ Male   ┆ 56  ┆ 1             ┆ … ┆ 24307.0       ┆ 26.0          ┆ 280     ┆ 0        │
│ 3549592  ┆ Female ┆ 59  ┆ 1             ┆ … ┆ 28591.0       ┆ 4.0           ┆ 256     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [102]:
# polars.DataFrame.select

insurance_df.select(["Gender","Annual_Premium"])

shape: (11_504_798, 2)
┌────────┬────────────────┐
│ Gender ┆ Annual_Premium │
│ ---    ┆ ---            │
│ str    ┆ f64            │
╞════════╪════════════════╡
│ Male   ┆ 65101.0        │
│ Male   ┆ 58911.0        │
│ Female ┆ 38043.0        │
│ Female ┆ 2630.0         │
│ Female ┆ 31951.0        │
│ …      ┆ …              │
│ Male   ┆ 27412.0        │
│ Female ┆ 29509.0        │
│ Female ┆ 2630.0         │
│ Female ┆ 48443.0        │
│ Male   ┆ 32855.0        │
└────────┴────────────────┘

In [104]:
# polars.DataFrame.shift
df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
    "Ranking" : [1,2,7,6]
}
)

df1.shift()

shape: (4, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ null      ┆ null    ┆ null    │
│ INDIA     ┆ 80      ┆ 1       │
│ PAKISTAN  ┆ 42      ┆ 2       │
│ AUSTRALIA ┆ 55      ┆ 7       │
└───────────┴─────────┴─────────┘

In [106]:
df1.shift(-2, fill_value=100)

shape: (4, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ AUSTRALIA ┆ 55      ┆ 7       │
│ ENGLAND   ┆ 32      ┆ 6       │
│ 100       ┆ 100     ┆ 100     │
│ 100       ┆ 100     ┆ 100     │
└───────────┴─────────┴─────────┘

In [107]:
# polars.DataFrame.slice

df1.slice(1,2)

shape: (2, 3)
┌───────────┬─────────┬─────────┐
│ Countries ┆ Matches ┆ Ranking │
│ ---       ┆ ---     ┆ ---     │
│ str       ┆ i64     ┆ i64     │
╞═══════════╪═════════╪═════════╡
│ PAKISTAN  ┆ 42      ┆ 2       │
│ AUSTRALIA ┆ 55      ┆ 7       │
└───────────┴─────────┴─────────┘

In [108]:
# polars.DataFrame.sort

insurance_df.sort(["Annual_Premium","Policy_Sales_Channel"])

shape: (11_504_798, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 5598661  ┆ Female ┆ 35  ┆ 1             ┆ … ┆ 2630.0        ┆ 1.0           ┆ 292     ┆ 0        │
│ 5598633  ┆ Female ┆ 46  ┆ 1             ┆ … ┆ 2630.0        ┆ 1.0           ┆ 222     ┆ 0        │
│ 10637274 ┆ Female ┆ 40  ┆ 1             ┆ … ┆ 2630.0        ┆ 1.0           ┆ 219     ┆ 0        │
│ 7281872  ┆ Female ┆ 28  ┆ 1             ┆ … ┆ 2630.0        ┆ 1.0           ┆ 256     ┆ 0        │
│ 7282131  ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 2630.0        ┆ 1.0           ┆ 171     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 9789005  ┆ Male   ┆ 26  ┆ 1             ┆ … ┆ 540165.0      ┆ 124.0         ┆ 103     ┆ 0        │
│ 7682681  ┆ Male   ┆ 22  ┆ 1             ┆ … ┆ 540165.0      ┆ 152.0         ┆ 278     ┆ 0        │
│ 3548393  ┆ Female ┆ 22  ┆ 1             ┆ … ┆ 540165.0      ┆ 152.0         ┆ 272     ┆ 1        │
│ 7851401  ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 540165.0      ┆ 156.0         ┆ 84      ┆ 1        │
│ 2548220  ┆ Male   ┆ 26  ┆ 1             ┆ … ┆ 540165.0      ┆ 163.0         ┆ 167     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [109]:
insurance_df.sort(["Annual_Premium","Policy_Sales_Channel"],descending=True)

shape: (11_504_798, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 2548220  ┆ Male   ┆ 26  ┆ 1             ┆ … ┆ 540165.0      ┆ 163.0         ┆ 167     ┆ 0        │
│ 7851401  ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 540165.0      ┆ 156.0         ┆ 84      ┆ 1        │
│ 7682681  ┆ Male   ┆ 22  ┆ 1             ┆ … ┆ 540165.0      ┆ 152.0         ┆ 278     ┆ 0        │
│ 3548393  ┆ Female ┆ 22  ┆ 1             ┆ … ┆ 540165.0      ┆ 152.0         ┆ 272     ┆ 1        │
│ 8464310  ┆ Female ┆ 42  ┆ 1             ┆ … ┆ 540165.0      ┆ 124.0         ┆ 69      ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 2936315  ┆ Female ┆ 27  ┆ 1             ┆ … ┆ 2630.0        ┆ 1.0           ┆ 205     ┆ 0        │
│ 11138276 ┆ Female ┆ 36  ┆ 1             ┆ … ┆ 2630.0        ┆ 1.0           ┆ 22      ┆ 0        │
│ 272537   ┆ Male   ┆ 34  ┆ 1             ┆ … ┆ 2630.0        ┆ 1.0           ┆ 296     ┆ 0        │
│ 10084071 ┆ Female ┆ 57  ┆ 1             ┆ … ┆ 2630.0        ┆ 1.0           ┆ 52      ┆ 0        │
│ 2936337  ┆ Male   ┆ 44  ┆ 1             ┆ … ┆ 2630.0        ┆ 1.0           ┆ 77      ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [113]:
# polars.DataFrame.sql

insurance_df.sql(
    query = "SELECT * FROM self WHERE Vehicle_Age = '< 1 Year' AND Annual_Premium >2000"
    )

shape: (5_044_145, 12)
┌──────────┬────────┬─────┬───────────────┬───┬───────────────┬───────────────┬─────────┬──────────┐
│ id       ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Annual_Premiu ┆ Policy_Sales_ ┆ Vintage ┆ Response │
│ ---      ┆ ---    ┆ --- ┆ se            ┆   ┆ m             ┆ Channel       ┆ ---     ┆ ---      │
│ i64      ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---           ┆ ---           ┆ i64     ┆ i64      │
│          ┆        ┆     ┆ i64           ┆   ┆ f64           ┆ f64           ┆         ┆          │
╞══════════╪════════╪═════╪═══════════════╪═══╪═══════════════╪═══════════════╪═════════╪══════════╡
│ 2        ┆ Female ┆ 25  ┆ 1             ┆ … ┆ 38043.0       ┆ 152.0         ┆ 254     ┆ 0        │
│ 5        ┆ Female ┆ 31  ┆ 1             ┆ … ┆ 28150.0       ┆ 152.0         ┆ 197     ┆ 0        │
│ 6        ┆ Male   ┆ 23  ┆ 1             ┆ … ┆ 27128.0       ┆ 152.0         ┆ 190     ┆ 0        │
│ 8        ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 31639.0       ┆ 152.0         ┆ 36      ┆ 0        │
│ 10       ┆ Male   ┆ 22  ┆ 1             ┆ … ┆ 27996.0       ┆ 152.0         ┆ 215     ┆ 0        │
│ …        ┆ …      ┆ …   ┆ …             ┆ … ┆ …             ┆ …             ┆ …       ┆ …        │
│ 11504790 ┆ Female ┆ 21  ┆ 1             ┆ … ┆ 38097.0       ┆ 152.0         ┆ 275     ┆ 0        │
│ 11504791 ┆ Female ┆ 31  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 204     ┆ 0        │
│ 11504794 ┆ Female ┆ 26  ┆ 1             ┆ … ┆ 29509.0       ┆ 152.0         ┆ 115     ┆ 1        │
│ 11504795 ┆ Female ┆ 29  ┆ 1             ┆ … ┆ 2630.0        ┆ 152.0         ┆ 189     ┆ 0        │
│ 11504797 ┆ Male   ┆ 25  ┆ 1             ┆ … ┆ 32855.0       ┆ 152.0         ┆ 189     ┆ 0        │
└──────────┴────────┴─────┴───────────────┴───┴───────────────┴───────────────┴─────────┴──────────┘

In [5]:
# polars.DataFrame.to_dummies
df1 = pl.DataFrame(
    {
    "Countries" : ["INDIA","PAKISTAN","AUSTRALIA","ENGLAND"],
    "Matches" : [80,42,55,32],
    "Ranking" : [1,2,7,6]
}
)
df1.to_dummies()

shape: (4, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Countries ┆ Countries ┆ Countries ┆ Countries ┆ … ┆ Ranking_1 ┆ Ranking_2 ┆ Ranking_6 ┆ Ranking_ │
│ _AUSTRALI ┆ _ENGLAND  ┆ _INDIA    ┆ _PAKISTAN ┆   ┆ ---       ┆ ---       ┆ ---       ┆ 7        │
│ A         ┆ ---       ┆ ---       ┆ ---       ┆   ┆ u8        ┆ u8        ┆ u8        ┆ ---      │
│ ---       ┆ u8        ┆ u8        ┆ u8        ┆   ┆           ┆           ┆           ┆ u8       │
│ u8        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 0         ┆ 0         ┆ 1         ┆ 0         ┆ … ┆ 1         ┆ 0         ┆ 0         ┆ 0        │
│ 0         ┆ 0         ┆ 0         ┆ 1         ┆ … ┆ 0         ┆ 1         ┆ 0         ┆ 0        │
│ 1         ┆ 0         ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 1        │
│ 0         ┆ 1         ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0         ┆ 1         ┆ 0        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [6]:
df1["Countries"].to_dummies()

shape: (4, 4)
┌─────────────────────┬───────────────────┬─────────────────┬────────────────────┐
│ Countries_AUSTRALIA ┆ Countries_ENGLAND ┆ Countries_INDIA ┆ Countries_PAKISTAN │
│ ---                 ┆ ---               ┆ ---             ┆ ---                │
│ u8                  ┆ u8                ┆ u8              ┆ u8                 │
╞═════════════════════╪═══════════════════╪═════════════════╪════════════════════╡
│ 0                   ┆ 0                 ┆ 1               ┆ 0                  │
│ 0                   ┆ 0                 ┆ 0               ┆ 1                  │
│ 1                   ┆ 0                 ┆ 0               ┆ 0                  │
│ 0                   ┆ 1                 ┆ 0               ┆ 0                  │
└─────────────────────┴───────────────────┴─────────────────┴────────────────────┘

In [7]:
# polars.DataFrame.to_series

df1.to_series(1)

shape: (4,)
Series: 'Matches' [i64]
[
	80
	42
	55
	32
]

In [8]:
# polars.DataFrame.tranpose
insurance_df.describe().transpose()

shape: (13, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ column_0  ┆ column_1  ┆ column_2  ┆ column_3  ┆ … ┆ column_5  ┆ column_6  ┆ column_7  ┆ column_8 │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ null_coun ┆ mean      ┆ std       ┆ … ┆ 25%       ┆ 50%       ┆ 75%       ┆ max      │
│           ┆ t         ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 11504798. ┆ 0.0       ┆ 5752398.5 ┆ 3321149.2 ┆ … ┆ 2876199.0 ┆ 5752399.0 ┆ 8628598.0 ┆ 11504797 │
│ 0         ┆           ┆           ┆ 55473698  ┆   ┆           ┆           ┆           ┆ .0       │
│ 11504798  ┆ 0         ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ Male     │
│ 11504798. ┆ 0.0       ┆ 38.383563 ┆ 14.993458 ┆ … ┆ 24.0      ┆ 36.0      ┆ 49.0      ┆ 85.0     │
│ 0         ┆           ┆ 36199905  ┆ 508381048 ┆   ┆           ┆           ┆           ┆          │
│ 11504798. ┆ 0.0       ┆ 0.9980219 ┆ 0.0444312 ┆ … ┆ 1.0       ┆ 1.0       ┆ 1.0       ┆ 1.0      │
│ 0         ┆           ┆ 557092614 ┆ 030347417 ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ 6         ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 11504798  ┆ 0         ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ Yes      │
│ 11504798. ┆ 0.0       ┆ 30461.370 ┆ 16454.745 ┆ … ┆ 25277.0   ┆ 31824.0   ┆ 39451.0   ┆ 540165.0 │
│ 0         ┆           ┆ 410588694 ┆ 205061357 ┆   ┆           ┆           ┆           ┆          │
│ 11504798. ┆ 0.0       ┆ 112.42544 ┆ 54.035707 ┆ … ┆ 29.0      ┆ 151.0     ┆ 152.0     ┆ 163.0    │
│ 0         ┆           ┆ 188954903 ┆ 77686182  ┆   ┆           ┆           ┆           ┆          │
│ 11504798. ┆ 0.0       ┆ 163.89774 ┆ 79.979531 ┆ … ┆ 99.0      ┆ 166.0     ┆ 232.0     ┆ 299.0    │
│ 0         ┆           ┆ 388042275 ┆ 10341116  ┆   ┆           ┆           ┆           ┆          │
│ 11504798. ┆ 0.0       ┆ 0.1229972 ┆ 0.3284341 ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 1.0      │
│ 0         ┆           ┆ 920863104 ┆ 145522853 ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 3         ┆ 3         ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [10]:
# polars.DataFrame.unpivot

df = pl.DataFrame({
    "Date": ["2023-08-01", "2023-08-02", "2023-08-03"],
    "Temperature": [20, 21, 19],
    "Humidity": [30, 45, 50]
})

df_unpivoted = df.unpivot(index="Date")

print(df_unpivoted)

shape: (6, 3)
┌────────────┬─────────────┬───────┐
│ Date       ┆ variable    ┆ value │
│ ---        ┆ ---         ┆ ---   │
│ str        ┆ str         ┆ i64   │
╞════════════╪═════════════╪═══════╡
│ 2023-08-01 ┆ Temperature ┆ 20    │
│ 2023-08-02 ┆ Temperature ┆ 21    │
│ 2023-08-03 ┆ Temperature ┆ 19    │
│ 2023-08-01 ┆ Humidity    ┆ 30    │
│ 2023-08-02 ┆ Humidity    ┆ 45    │
│ 2023-08-03 ┆ Humidity    ┆ 50    │
└────────────┴─────────────┴───────┘

# Miscalleneaous Methods

In [11]:
# polars.DataFrame.collect_schema

insurance_df.collect_schema()

Schema([('id', Int64),
        ('Gender', String),
        ('Age', Int64),
        ('Driving_License', Int64),
        ('Region_Code', Float64),
        ('Previously_Insured', Int64),
        ('Vehicle_Age', String),
        ('Vehicle_Damage', String),
        ('Annual_Premium', Float64),
        ('Policy_Sales_Channel', Float64),
        ('Vintage', Int64),
        ('Response', Int64)])

In [6]:
# polars.DataFrame.corr

df1 = pl.DataFrame(
    {
    "PlayersNo" : [37,48,32,23],
    "Matches" : [80,42,55,32],
    "Ranking" : [1,2,7,6]
}
)
df1.corr()

shape: (3, 3)
┌───────────┬───────────┬───────────┐
│ PlayersNo ┆ Matches   ┆ Ranking   │
│ ---       ┆ ---       ┆ ---       │
│ f64       ┆ f64       ┆ f64       │
╞═══════════╪═══════════╪═══════════╡
│ 1.0       ┆ 0.241843  ┆ -0.706021 │
│ 0.241843  ┆ 1.0       ┆ -0.518179 │
│ -0.706021 ┆ -0.518179 ┆ 1.0       │
└───────────┴───────────┴───────────┘

In [7]:
# polars.DataFrame.equals

df = pl.DataFrame({
    "Date": ["2023-08-01", "2023-08-02", "2023-08-03"],
    "Temperature": [20, 21, 19],
    "Humidity": [30, 45, 50]
})

df1 = pl.DataFrame(
    {
    "PlayersNo" : [37,48,32,23],
    "Matches" : [80,42,55,32],
    "Ranking" : [1,2,7,6]
}
)
print(df.equals(df))
print(df.equals(df1))

True
False

In [9]:
# polars.DataFrame.map_rows
df1 = pl.DataFrame(
    {
    "PlayersNo" : [37,48,32,23],
    "Matches" : [80,42,55,32],
    "Ranking" : [1,2,7,6]
}
)
df1.map_rows(lambda t:(t[0] * 2, t[1] * 3,t[2]-2))

shape: (4, 3)
┌──────────┬──────────┬──────────┐
│ column_0 ┆ column_1 ┆ column_2 │
│ ---      ┆ ---      ┆ ---      │
│ i64      ┆ i64      ┆ i64      │
╞══════════╪══════════╪══════════╡
│ 74       ┆ 240      ┆ -1       │
│ 96       ┆ 126      ┆ 0        │
│ 64       ┆ 165      ┆ 5        │
│ 46       ┆ 96       ┆ 4        │
└──────────┴──────────┴──────────┘